/** {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
a {
    text-decoration: none;
    color:#333;
}
body {
    padding:0;
    margin:0;
}
span {
    user-select: none;
}
input {
    outline: none;
    border:none;
    background-color: transparent;
}
li {
    list-style: none;
}
.navbar {
    height: 80px;
    padding:23px 43px;
}
.navbar > a img{
    transition: all 300ms ease-in-out;
}

.reset-button {
    float: left;
    margin-right:20px;
    margin-top: 10px;
}
.save-button {
    float: left;
    margin-top: 10px;
}
.close-button {
    float: right;
}*/
#wrap {
    width:1280px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.contents-top {
    width: 90%;
    display: flex;
    align-items: center;
    padding-left: 69px;
/*    padding-top: 23px;*/
}
.contents-title {
    margin-right: 20px;
    position: relative;
}
.contents-title > img {
    image-rendering: auto;
}
.contents-text {
    font-size: 21px;
    font-weight: 550;
    margin-left: 10px;
    font-family: 'NanumSquareRoundBold';
    color: #3F2727;
    position: relative;
}
.contents-main {
    display: flex;
    align-items: center;
    padding-left: 86px;
    margin-top: 34px;  /* 21.04.21 미영 수정 */
}
/* 21.04.21 미영 수정 */
.contents-main > .background {
    position: relative;
    width: 1043px;
    height: 438px;
    display: flex;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: flex-start;
}
/* // 21.04.21 미영 수정 */
.contents-main  > img {
    width: 170px;
}
.contents-main > .background > .left {
    width:40%;
    height: 100%;
    position: relative;
}
.contents-main > .background > .right {
    height: 100%;
    flex:1;
    position: relative;
}
.left > span{
    position: absolute;
    font-size: 23px;
    text-align: center;
    font-family: 'NanumSquareRoundBold';
    color:#412E2E;
    letter-spacing: -0.8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 21.04.21 미영 수정 */
.left > span:nth-child(1) {
    top: 230px;
    left: 58px;
    font-size: 34px;
}
.left > span:nth-child(2) {
    top: 0px;
    left: 178px;
    width: 145px;
    height: 191px;
}
.left > span:nth-child(3) {
    width: 144px;
    height: 190px;
    top: 244px;
    left: 205px;
}
.left > span:nth-child(4) {
    width: 156px;
    height: 154px;
    bottom: 10px;
    left: 158px;
}
/* // 21.04.21 미영 수정 */
.right > div {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    transition: all 500ms ease-in-out;
    font-weight: 550;
    border:none;
    user-select: none;
    padding: 15px;
}
.right > div > span {
    font-size: 20px;
    line-height: 1.5;
    font-family: 'NanumSquareRoundBold';
    transition: all 1000ms ease-in;
    color:#412E2E;
    letter-spacing: -0.8px;
}
.right > div.active{
    opacity: 0.3;
}
/* 21.04.21 미영 수정 */
.right > div:nth-child(1) {
    top: 107px;
    left: 46px;
    width: 168px;
    height: 218px;
}
.right > div:nth-child(2) {
    top: 104px;
    left: 371px;
    width: 206px;
    height: 238px;
}
/* //21.04.21 미영 수정 */
.right > div > span.invisible {
    visibility: hidden;
}
.right > div > span > a {
    color:#1A3512;
}
.recode {

}
.recode-button {
    position: absolute;
    width: 102px;
    height: 95px;
    left: 158px;
    bottom: 20px;
    max-width: 100%;
    height: auto;
    border: 7px solid #2498b9;
    padding: 0px;
    border-radius: 100px;
}

.recode-buttons_right > img:nth-child(1){
    position: absolute;
    width: 102px;
    height: 95px;
    left: 1000px;
    bottom: 500px;
    max-width: 100%;
    height: auto;
    border: 7px solid #2498b9;
    padding: 0px;
    border-radius: 100px;
}
.recode-buttons_right > img:nth-child(2){
    position: absolute;
    width: 102px;
    height: 95px;
    left: 1000px;
    bottom: 400px;
    max-width: 100%;
    height: auto;
    border: 7px solid #2498b9;
    padding: 0px;
    border-radius: 100px;
}
.recode-buttons_right > img:nth-child(3){
    position: absolute;
    width: 102px;
    height: 95px;
    left: 1000px;
    bottom: 300px;
    max-width: 100%;
    height: auto;
    border: 7px solid #2498b9;
    padding: 0px;
    border-radius: 100px;
}
.recode-buttons_right > img:nth-child(4){
    position: absolute;
    width: 102px;
    height: 95px;
    left: 1000px;
    bottom: 200px;
    max-width: 100%;
    height: auto;
    border: 7px solid #2498b9;
    padding: 0px;
    border-radius: 100px;
}

/* html에 인스타일로 되어있는거 css로 변경 */
.right > div:nth-child(1) .recode {
    left:61px;
    top:201px;
}
.right > div:nth-child(2) .recode {
    left:81px;
    top:229px;
}
/* // 21.04.21 미영 수정 */
.recode.stop {
    background-size: contain;
    background-repeat: no-repeat;
}
.recode.invisible {
    visibility: hidden;
}
.recode.disabled {
    pointer-events: none;
}
