@font-face {
    font-family: 'NanumSquareRoundBold';
    font-weight: bold;
    src: url("../../../../font/NanumSquareRoundOTFEB.otf");
}
@font-face{
    font-family: 'bmjua_otf';
    src: url("../../../../font/bmjua_otf.OTF");
}
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
a {
    text-decoration: none;
    color:#333;
}
body {
    padding:0;
    margin:0;
}
span {
    user-select: none;
}
input {
    outline: none;
    border:none;
    background-color: transparent;
}
li {
    list-style: none;
}
.navbar {
    height: 80px;
    padding:23px 43px;
}
.navbar > a img{
    transition: all 300ms ease-in-out;
}

.reset-button {
    float: left;
    margin-right:20px;
    margin-top: 10px;
}
.save-button {
    float: left;
    margin-top: 10px;
}
.close-button {
    float: right;
}
#wrap {
    width:1280px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.qs1 {
    width: 490px;
}
.qs2 {
    width: 490px;
}
.character {
    position: absolute;
    bottom:0;
    right:105px;
}
#wrap > .title {
    display: flex;
    align-items: center;
    padding-left: 69px;
    margin-top:15px;
}

#wrap > .title > p {
    padding:0;
    margin:0;
    margin-left:15px;
    font-size: 20px;
    font-family: 'NanumSquareRoundBold';
    line-height: 1.5;
    color:#3f2727;
}
.content {
    /* border:1px solid red; */
    text-align: center;
    padding: 54px 140px;
}
.content > .title {
    display: inline-block;
    color: #482d31;
    font-family: 'bmjua_otf';
    font-size: 32px;
    position: relative;
    margin-top: 0;
    padding-left:0;
}
.content > .title::after {
    position: absolute;
    content: '';
    background-color: red;
    bottom: 0;
    right: 0;
    width: 250px;
    height: 4px;
    border-radius: 20px;
    transform: translate(0px, 5px);
}
.content .box {
    display: flex;
    margin-top:31px;
}
.content .box > div{
    width: 50%;
}
.content .box > div > div{
    text-align: left;
}
.content1 .box span {
    font-family: 'NanumSquareRoundBold';
    font-size: 22px;
    line-height: 1.5;
    text-align: left;
}
.content2 .box span {
    font-family: 'NanumSquareRoundBold';
    font-size: 22px;
    line-height: 1.5;
    text-align: left;
    color:#fa0505;
}
.content1 .box .inner-title {
    display: block;
    margin-top:18px;
}
.content .box > div > div:nth-child(2) {
    margin-top: 20px;
}
.content1 .box span a {
    color:#fa0505;
}
.content2 .box p {
    color:#2c221f;
    font-family: 'NanumSquareRoundBold';
    margin:0;
    padding:0;
    font-size: 16px;
    margin: 4px 0;
}
.content .icons {
    display: flex;
    justify-content: space-between;
    padding: 27px 62px;
    margin-top:10px;
    border-radius: 20px;
}
.content .icons .textrows{
    height: 95px;
    width: 490px;
    height: 140px;
    resize: none;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 24px;
    overflow: hidden;
    font-family: 'younsofunny';
    line-height: 1.5;
    display: none;
}
.content .icons .bigtextrows{
    height: 140px;
    width: 400px;
    height: 220px;
    resize: none;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 24px;
    overflow: hidden;
    font-family: 'younsofunny';
    line-height: 1.5;
    display: none;
}
.content .right-box {
    margin-left: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px 23px;
    border-radius: 40px;
    text-align: left;
    letter-spacing: -0.5px;
    height: 450px;
}
.content .right-box .icons {
    background: none;
    padding: 34px 28px;
    margin:0;
}
.content2 .right-box span {
    color:#2c221f;
}
.content .icons > img{
    cursor: pointer;
    transition: transform 200ms ease-in;
}
.next-page {
    position: absolute;
    right:10px;
    top:370px;
}
.pre-page {
    position: absolute;
    left: 10px;
    top: 370px;
}
/*.content2 .box span {
    font-family: 'NanumSquareRoundBold';
    font-size: 22px;
    line-height: 1.5;
    text-align: left;
    color: #fa0505;
}
.content2 .box p {
    color: #2c221f;
    font-family: 'NanumSquareRoundBold';
    margin: 0;
    padding: 0;
    font-size: 17px;
    margin: 4px 0;
}
.content2 .right-box span {
    color: #2c221f;
}*/
.cameraview{
    display: none;
    height: 145px;
    margin: 0 auto;
}
