<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
		<title>SmartFarm</title>
		<!-- <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" /> -->
		<link rel="stylesheet" type="text/css" href="../../css/datepicker.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/front.css" />
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../../js/datepicker.min.js"></script>
		<script type="text/javascript" src="../../js/i18n/datepicker.kr.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header" data-include="../include/header.html"></div>
			<!-- //header -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="subTit"><div><h2>회원정보</h2><span><em>마이페이지</em><strong>회원정보</strong></span></div></div>
				<div class="content">
					<article>
						<!-- page layout -->
						<div><!-- class 없어도 유지 -->
							<!-- View -->
							<div class="tvs">
								<table>
									<colgroup>
										<col width="154"/>
										<col width="*"/>
										<col width="154"/>
										<col width="*"/>
									</colgroup>
									<tbody>
										<tr>
											<th>사용자 ID</th>
											<td colspan="3">Abcd1234</td>
										</tr>
										<tr>
											<th>사용자 권한</th>
											<td colspan="3">농장관리자</td>
										</tr>
										<tr>
											<th>이름</th>
											<td colspan="3">홍길동</td>
										</tr>
										<tr>
											<th>소속</th>
											<td>총무부</td>
											<th>직급</th>
											<td>과장</td>
										</tr>
										<tr>
											<th>연락처</th>
											<td>1234-1234</td>
											<th>모바일</th>
											<td>010-0000-0000</td>
										</tr>
										<tr>
											<th>이메일</th>
											<td colspan="3">aaa@bbb.com</td>
										</tr>
										<tr>
											<th>농장명</th>
											<td colspan="3">우리농장</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!--//View -->
							<!-- Btn -->
							<div class="btnArea">
								<a href="myInfo_modify.html" class="btnL">수정</a>
								<a href="resign.html" class="btnL line">회원탈퇴</a>
							</div>
							<!--//Btn -->
						</div>
						<!-- //page layout -->
					</article>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
	</body>
</html>
