* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
a {
    text-decoration: none;
    color:#333;
}
body {
    padding:0;
    margin:0;
}
span {
    user-select: none;
}
input {
    outline: none;
    border:none;
    background-color: transparent;
}
li {
    list-style: none;
}
.navbar {
    height: 80px;
    padding:23px 43px;
}
.navbar > a img{
    transition: all 300ms ease-in-out;
}

.reset-button {
    float: left;
    margin-right:20px;
    margin-top: 10px;
}
.save-button {
    float: left;
    margin-top: 10px;
}
.close-button {
    float: right;
}

#wrap {
    width: 1280px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: contain;
}
.contents-top {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 69px;
    padding-top: 19px;
    position: absolute;

}
.contents-top .contents-icon {
    position: relative;
}
.contents-top .contents-icon .icons {
    display: inline-block;
    position: absolute;
    width: 120px;
    top: 15px;
    left:100px;
    display: flex;
    align-items: center;
    margin-top:3px;
}
.contents-top .contents-icon .icons > img:nth-child(1) {
    width: 60px;
    display: inline-block;
    margin-right:7px;
}
.contents-top .contents-icon .icons > img:nth-child(2) {
    width: 45px;
    right: 20px;
}
.contents-title {
    font-size: 19px;
    margin-left: 43px;
    font-weight: 550;
    padding-right:120px;
    font-family: 'NanumSquareRoundBold';
    color: #3F2727;
    line-height: 1.4;
    position: relative;
    text-indent: -1.1em;
}

.contents-status {
    height: 83px;
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 104px;
}
.contents-status > input.status {
    position: absolute;
    height: 50px;
    font-size: 36px;
    color:#d02020;
    font-family: 'younsofunny';
}
.contents-status > input.year {
    width: 90px;
    left: 131px;
}
.contents-status > input.month {
    width: 54px;
    left: 267px;
}
.contents-status > input.day {
    width:50px;
    left: 367px;
}
.contents-status > input.weather {
    width:300px;
    left: 562px;
}
.weather-select {
    position: absolute;
    width: 247px;
    display: flex;
    align-items: center;
    margin-left: 926px;
    top: 14px;
    justify-content: space-between;
}
.weather-select img {
    cursor: pointer;
    margin-right:11px;
}
.weather-select > span {
    display: inline-block;
    width: 43px;
    height: 43px;
}
.contents-main {
    width: 1150px;
    height: 494px;
    position: absolute;
    margin-top: 205px;
}




.textbook_img_1 img{
    display: block;
    position: absolute;
    width: 315px;
    height: 361px;
    left: 9%;
    top: -10px;
}
.textbook_img_2 img{
    display: block;
    position: absolute;
    width: 315px;
    height: 361px;
    left: 43%;
    top: -10px;
}
.textbook_img_3 img{
    display: block;
    position: absolute;
    width: 315px;
    height: 361px;
    left: 77%;
    top: -10px;
}
.cameraview{
    display: none;
    height: 120px;
    width: 503px;
    margin: 0 auto;
}






