<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
		<title>SmartFarm</title>
		<!-- <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" /> -->
		<link rel="stylesheet" type="text/css" href="../css/datepicker.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/front.css" />
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/datepicker.min.js"></script>
		<script type="text/javascript" src="../js/i18n/datepicker.kr.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header" data-include="include/header.html"></div>
			<!-- //header -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="subTit"><div><h2>생육관리</h2><span><em>영농관리</em><strong>생육관리 등록</strong></span></div></div>
				<div class="content">
					<article>
						<!-- page layout -->
						<div><!-- class 없어도 유지 -->
							<h3>기본정보</h3>
							<!-- Write -->
							<div class="tvs">
								<table>
									<colgroup>
										<col width="154"/>
										<col width="40%"/>
										<col width="154"/>
										<col width="*"/>
									</colgroup>
									<tbody>
										<tr>
											<th>조사일</th>
											<td colspan="3">2022-01-01</td>
										</tr>
										<tr>
											<th>하우스</th>
											<td>Interlocking Unit</td>
											<th>구역</th>
											<td>Sector 1</td>
										</tr>
										<tr>
											<th>작목</th>
											<td>Interlocking Unit</td>
											<th>품종</th>
											<td>Sector 1</td>
										</tr>
										<tr>
											<th>비고</th>
											<td colspan="3">비고 내용은 비로란에 입력한 정보 그대로 노출됩니다. 비고 내용은 비로란에 입력한 정보 그대로 노출됩니다. 비고 내용은 비로란에 입력한 정보 그대로 노출됩니다.</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!--//Write -->
							<h3>생육정보</h3>
							<div class="tvs">
								<table>
									<colgroup>
										<col width="154"/>
										<col width="*"/>
									</colgroup>
									<tbody>
										<tr>
											<th>생장길이</th>
											<td>123</td>
										</tr>
										<tr>
											<th>두께</th>
											<td>123</td>
										</tr>
										<tr>
											<th>화방위치</th>
											<td>123</td>
										</tr>
										<tr>
											<th>화방수</th>
											<td>123</td>
										</tr>
										<tr>
											<th>엽폭</th>
											<td>123</td>
										</tr>
										<tr>
											<th>엽길이</th>
											<td>123</td>
										</tr>
										<tr>
											<th>적엽수</th>
											<td>123</td>
										</tr>
										<tr>
											<th>착과량</th>
											<td>123</td>
										</tr>
										<tr>
											<th>수확량</th>
											<td>123</td>
										</tr>
										<tr>
											<td colspan="2">
												<div class="fileAddSet">
													<div class="showCase">
														<ul>
															<li><img src="../images/sampleImage.png" alt="" /></li>
															<li><img src="../images/sampleImage.png" alt="" /></li>
														</ul>
														<span>
															<button>이전</button>
															<button>다음</button>
														</span>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- Btn -->
							<div class="btnArea">
								<span class="left"><button class="btnPrint">프린트</button></span>
								<button class="btnL line">삭제</button>
								<a href="bbs_write.html" class="btnL">수정</a>
								<span class="right"><button class="btnList">목록</button></span>
							</div>
							<!--//Btn -->
						</div>
						<!-- //page layout -->
					</article>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
	</body>
</html>
