<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
		<title>SmartFarm</title>
		<!-- <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" /> -->
		<link rel="stylesheet" type="text/css" href="../css/datepicker.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/front.css" />
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/datepicker.min.js"></script>
		<script type="text/javascript" src="../js/i18n/datepicker.kr.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header" data-include="include/header.html"></div>
			<!-- //header -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="subTit"><div><h2>회원가입</h2><span><em>회원가입</em><strong>약관동의</strong></span></div></div>
				<div class="content">
					<article>
						<!-- page layout -->
						<div class="joinArea step1"><!-- class 없어도 유지 -->
							<h3>약관동의</h3>
							<div class="agreeData">
								<div class="back">
									내용<br/>내용<br/>내용<br/>내용<br/>
								</div>
							</div>
							<span class="checkSet">
								<input type="checkbox" id="agree1" />
								<label for="agree1"><i></i>위 약관에 동의합니다.</label>
							</span>
							<h3>개인정보 수집동의</h3>
							<div class="agreeData">
								<div class="back">
									내용<br/>내용<br/>내용<br/>내용<br/>
								</div>
							</div>
							<span class="checkSet">
								<input type="checkbox" id="agree2"/>
								<label for="agree2"><i></i>개인정보 수집에 동의합니다.</label>
							</span>
							<!-- Btn -->
							<div class="btnArea">
								<a href="login.html" class="btnL line">비동의</a>
								<a href="join2.html" class="btnL">동의</a>
							</div>
							<!--//Btn -->
						</div>
						<!-- //page layout -->
					</article>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
	</body>
</html>
