<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
		<title>SmartFarm</title>
		<!-- <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" /> -->
		<link rel="stylesheet" type="text/css" href="../css/datepicker.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/front.css" />
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/datepicker.min.js"></script>
		<script type="text/javascript" src="../js/i18n/datepicker.kr.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script>
		$( document ).ready( function() {
			$('.globalNav').hover(function() {
			  $("#header").addClass('over');
			}, function(){
			  $("#header").removeClass('over');
			});
		});
		</script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap" class="mainCase">
			<!-- header -->
			<div id="header">
				<header>
					<div class="back">
						<h1><a href="main.html">SmartFarm</a></h1>
						<div class="globalNav">
							<ul>
								<li><a href=".html">농가</a>
									<ol>
										<li><a>농가알림</a></li>
										<li><a>질문과 답변</a></li>
									</ol>
								</li>
								<li><a href=".html">영농관리</a>
									<ol>
										<li><a>일정관리</a></li>
										<li><a>생육관리</a></li>
										<li><a>양육관리</a></li>
									</ol>
								</li>
								<li><a href=".html">생산/판매</a>
									<ol>
										<li><a>생산관리</a></li>
									</ol>
								</li>
								<li><a href=".html">환경분석</a>
									<ol>
										<li><a>SUMMARY</a></li>
										<li><a>외부기상</a></li>
										<li><a>실내기상</a></li>
										<li><a>양액</a></li>
										<li><a>생육</a></li>
										<li><a>Best Farm</a></li>
									</ol>
								</li>
								<li><a href=".html">회원관리</a>
									<ol>
										<li><a>농장주</a></li>
										<li><a>관리자</a></li>
										<li><a>출석</a></li>
									</ol>
								</li>
								<li><a href=".html">통계관리</a>
									<ol>
										<li><a>출석</a></li>
										<li><a>생육관리</a></li>
										<li><a>양액</a></li>
									</ol>
								</li>
								<li><a href=".html">설정관리</a>
									<ol>
										<li><a>Season</a></li>
										<li><a>Work</a></li>
										<li><a>Code</a></li>
										<li><a>Greenhouse</a></li>
										<li><a>Sensor</a></li>
										<li><a>Best Farm</a></li>
										<li><a>OpenAPI</a></li>
									</ol>
								</li>
							</ul>
						</div>
						<span class="right">
							<a href="login.html" class="btnLogin" style="display:none;">Login</a>
							<span>
								<a href="main.html" class="btnLogout">Logout</a>
								<strong><a href="login.html">admin</a></strong>
							</span>
						</span>
					</div>
				</header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- container -->
			<div id="mainContainer">
			<section>
				<div class="back">
				<article>
					<div class="left">
						<strong>SMART FARM</strong>
						<p>스마트팜은 플라스틱 하우스에 ICT를 적용해 자동원격으로 <br/>작물의 생육환경을 적절하게 유지·관리할 수 있는 농장을 의미합니다.</p>
						<a href="">App Download</a>
					</div>
				</article>
				<article>
					<ul class="right">
						<!-- 2022-10-18 모든 strong 안에 em 한번 더 적용 -->
						<li><a href=""><strong><em>일정관리</em></strong></a></li>
						<li><a href=""><strong><em>영농일지</em></strong></a></li>
						<li><a href=""><strong><em>생육관리</em></strong></a></li>
						<li><a href=""><strong><em>양액관리</em></strong></a></li>
						<li><a href=""><strong><em>농가알림</em></strong></a></li>
						<li><a href=""><strong><em>생산관리</em></strong></a></li>
						<li><a href=""><strong><em>판매관리</em></strong></a></li>
						<li><a href=""><strong><em>환경정보분석</em></strong></a></li>
					</ul>
				</article>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
	</body>
</html>
