
				<!---->
				<div class="totalTable"><!-- class 없어도 유지 -->
					<!-- List -->
					<div class="tls dataSet dubThH wideCase">
						<table>
							<colgroup>
								<col width="100"/>
								<col span="27" width="70"/>
							</colgroup>
							<thead class="subHead">
								<tr>
									<th rowspan="2">구분</th>
									<th colspan="9" class="dubTh">전주</th>
									<th colspan="9" class="dubTh">금주</th>
									<th colspan="9" class="dubTh">2021-03-11</th>
								</tr>
								<tr class="subTh">
									<th>생장길이</th>
									<th>두께</th>
									<th>옆길이</th>
									<th>옆폭</th>
									<th>화방높이</th>
									<th>화방수</th>
									<th>적엽수</th>
									<th>착과량</th>
									<th class="noLine">수확량</th>
									<th>생장길이</th>
									<th>두께</th>
									<th>옆길이</th>
									<th>옆폭</th>
									<th>화방높이</th>
									<th>화방수</th>
									<th>적엽수</th>
									<th>착과량</th>
									<th class="noLine">수확량</th>
									<th>생장길이</th>
									<th>두께</th>
									<th>옆길이</th>
									<th>옆폭</th>
									<th>화방높이</th>
									<th>화방수</th>
									<th>적엽수</th>
									<th>착과량</th>
									<th class="noLine">수확량</th>
								</tr>
							</thead>
							<tbody>
								<!--Loop-->
								<tr>
									<td class="no">Sector 1</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">Sector 1</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td><em>52.6</em></td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<!--//Loop-->
								<tr>
									<td class="no">Sector 1</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">Sector 1</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">Sector 1</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">Sector 1</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">Sector 1</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">Sector 1</td>
									<td>250.5</td>
									<td><em>10.2</em></td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">Sector 1</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">Sector 1</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">Sector 1</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">Sector 1</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">Sector 1</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">Sector 1</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">Sector 1</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">Sector 1</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td><em>310.5</em></td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--//List -->
				</div>
				<!--//-->
