
				<!---->
				<div><!-- class 없어도 유지 -->
					<!-- List search -->
					<div class="listSearch">
						<div class="gridSet">
							<div class="gridItem">
								<label>작기</label>
								<span class="selectSet w150">
									<select name="" id="">
										<option value="" selected>시간</option>
									</select>
								</span>
								<label class="center wide">하우스/구역</label>
								<span class="selectSet w214">
									<select name="" id="">
										<option value="" selected>A동</option>
									</select>
								</span>
								<span class="selectSet w214">
									<select name="" id="">
										<option value="" selected>A1동</option>
									</select>
								</span>
							</div>
						</div>
						<div class="gridSet">
							<div class="gridItem">
								<label>기간</label>
								<span class="calDupSet">
										<input type="text" class="cal" placeholder="일자 선택"  />
										<em>-</em>
										<input type="text" class="cal" placeholder="일자 선택"  />
								</span>
							</div>
						</div>
						<div class="gridSet">
							<div class="gridItem">
								<label>항목</label>
								<div class="checkCol">
									<span class="checkSet">
										<input type="checkbox" id="ch01"/>
										<label for="ch01"><i></i>공급량</label>
									</span>
									<span class="checkSet">
										<input type="checkbox" id="ch02"/>
										<label for="ch02"><i></i>공급EC</label>
									</span>
									<span class="checkSet">
										<input type="checkbox" id="ch03"/>
										<label for="ch03"><i></i>공급PH</label>
									</span>
									<span class="checkSet">
										<input type="checkbox" id="ch04"/>
										<label for="ch04"><i></i>폐액량</label>
									</span>
									<span class="checkSet">
										<input type="checkbox" id="ch05"/>
										<label for="ch05"><i></i>폐액EC</label>
									</span>
									<span class="checkSet">
										<input type="checkbox" id="ch06"/>
										<label for="ch06"><i></i>폐액PH</label>
									</span>
								</div>
							</div>
						</div>
						<span class="btn">
							<button class="btnM">검색</button>
							<button class="btnM line">Excel</button>
						</span>
					</div>
					<!--//List search-->
					<!-- List -->
					<div class="tls dataSet minH">
						<table>
							<colgroup>
								<col width="40"/>
								<col width="100"/>
								<col span="2" width="70"/>
								<col span="6" width="50"/>
							</colgroup>
							<thead>
								<tr>
									<th>No</th>
									<th>일시</th>
									<th>작목</th>
									<th>품종</th>
									<th>공급량</th>
									<th>공급EC</th>
									<th>공급PH</th>
									<th>폐액량</th>
									<th>폐액EC</th>
									<th>폐액PH</th>
								</tr>
							</thead>
							<tbody>
								<!--Loop-->
								<tr>
									<td class="no">1</td>
									<td>2021-02-15</td>
									<td>딸기</td>
									<td>기타</td>
									<td>150</td>
									<td>7.6</td>
									<td>10.6</td>
									<td>100</td>
									<td>7.1</td>
									<td>8.5</td>
								</tr>
								<!--//Loop-->
								<tr>
									<td class="no">2</td>
									<td>2021-02-15</td>
									<td>딸기</td>
									<td>기타</td>
									<td>150</td>
									<td>7.6</td>
									<td>10.6</td>
									<td>100</td>
									<td>7.1</td>
									<td>8.5</td>
								</tr>
								<tr>
									<td class="no">3</td>
									<td>2021-02-15</td>
									<td>딸기</td>
									<td>기타</td>
									<td>150</td>
									<td>7.6</td>
									<td>10.6</td>
									<td>100</td>
									<td>7.1</td>
									<td>8.5</td>
								</tr>
								<tr>
									<td class="no">4</td>
									<td>2021-02-15</td>
									<td>딸기</td>
									<td>기타</td>
									<td>150</td>
									<td>7.6</td>
									<td>10.6</td>
									<td>100</td>
									<td>7.1</td>
									<td>8.5</td>
								</tr>
								<tr>
									<td class="no">5</td>
									<td>2021-02-15</td>
									<td>딸기</td>
									<td>기타</td>
									<td>150</td>
									<td>7.6</td>
									<td>10.6</td>
									<td>100</td>
									<td>7.1</td>
									<td>8.5</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--//List -->
					<!-- chart -->
					<div id="chartN" class="chartLayout"></div>
					<script>
						var optionsN = {
						  chart: {
						    height: 330,
						    type: "line",
								zoom: {
									enabled: false
								},
						    stacked: false,
								toolbar: {
									show: false
								}
						  },
						  dataLabels: {
						    enabled: false
						  },
						  //colors: ['#99C2A2', 'red', '#C5EDAC', '#66C7F4', '#003366', '#336699'],
						  series: [
						    {
						      name: '공급량',
						      type: 'column',
						      data: [100, 200, 200, 100, 200, 200, 300, 400]
						    },
						    {
						      name: "폐액량",
						      type: 'column',
						      data: [50, 109, 101, 60, 41, 54, 100, 184]
						    },
						    {
						      name: "공급EC",
						      type: 'line',
						      data: [21.1, 23, 33.1, 34, 44.1, 44.9, 56.5, 58.5]
						    },
						    {
						      name: "공급PH",
						      type: 'line',
						      data: [10, 19, 27, 26, 34, 35, 40, 38]
						    },
						    {
						      name: "폐액EC",
						      type: 'line',
						      data: [3.4, 1, 2.5, 0.5, 3.5, 2.5, 3.0, 4.2]
						    },
						    {
						      name: "폐액PH",
						      type: 'line',
						      data: [2.4, 1.1, 2.0, 0.8, 1.5, 2.0, 3.6, 2.2]
						    }
						  ],
						  stroke: {
						    width: [0, 0, 4, 4, 4, 4]
						  },
						  plotOptions: {
						    bar: {
						      columnWidth: "20%"
						    }
						  },
						  xaxis: {
						    categories: ['02-08', '02-09', '02-10', '02-11', '02-12', '02-13', '02-14', '02-15']
						  },
						  yaxis: [
						    {
						      seriesName: '공급량',
						    },
						    {
						      seriesName: '폐액량',
						      show: false
						    },
								{
						      opposite: true,
						      seriesName: '공급EC',
						    },
						    {
						      seriesName: '공급PH',
						      show: false
						    },
						    {
						      seriesName: '폐액EC',
						      show: false
						    },
						    {
						      seriesName: '폐액PH',
						      show: false
						    }
						  ],
						  tooltip: {
						    show: false
						  },
						  legend: {
								height: 30
						  }
						};
						var chartN = new ApexCharts(document.querySelector("#chartN"), optionsN);
						chartN.render();
					</script>
					<!-- //chart -->
				</div>
				<!--//-->
