
				<!---->
				<div class="totalTable"><!-- class 없어도 유지 -->
					<!-- List -->
					<div class="tls dataSet dubThH">
						<table>
							<colgroup>
								<col span="2" width="70"/>
								<col span="9" width="50"/>
							</colgroup>
							<thead class="subHead">
								<tr>
									<th rowspan="2" colspan="2">구분</th>
									<th colspan="3" class="dubTh">전주</th>
									<th colspan="3" class="dubTh">금주</th>
									<th colspan="3" class="dubTh">2021-03-11</th>
								</tr>
								<tr class="subTh">
									<th>용량</th>
									<th>EC</th>
									<th class="noLine">PH</th>
									<th>용량</th>
									<th>EC</th>
									<th class="noLine">PH</th>
									<th>용량</th>
									<th>EC</th>
									<th class="noLine">PH</th>
								</tr>
							</thead>
							<tbody>
								<!--Loop-->
								<tr>
									<td rowspan="2" class="no">A-1</td>
									<td class="no">공급</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">폐액</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td><em>52.6</em></td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<!--//Loop-->
								<tr>
									<td rowspan="2" class="no">A-2</td>
									<td class="no">공급</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">폐액</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td rowspan="2" class="no">B</td>
									<td class="no">공급</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">폐액</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td rowspan="2" class="no">C</td>
									<td class="no">공급</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">폐액</td>
									<td>250.5</td>
									<td><em>10.2</em></td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td rowspan="2" class="no">D</td>
									<td class="no">공급</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">폐액</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td rowspan="2" class="no">E-1</td>
									<td class="no">공급</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">폐액</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td rowspan="2" class="no">E-2</td>
									<td class="no">공급</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">폐액</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td rowspan="2" class="no">F</td>
									<td class="no">공급</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">폐액</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td><em>310.5</em></td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td rowspan="2" class="no">G</td>
									<td class="no">공급</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
								<tr>
									<td class="no">폐액</td>
									<td>250.5</td>
									<td>10.2</td>
									<td>260.7</td>
									<td>310.5</td>
									<td>3.3</td>
									<td>313.8</td>
									<td>52.6</td>
									<td>1.2</td>
									<td>53.8</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--//List -->
				</div>
				<!--//-->
