
				<!---->
				<div class="pestControlDetail"><!-- class 없어도 유지 -->
					<!-- List search -->
					<div class="listSearch">
						<div class="gridSet">
							<div class="gridItem">
								<label>작기</label>
								<span class="selectSet w150">
									<select name="" id="">
										<option value="" selected>시간</option>
									</select>
								</span>
								<label class="center wide">하우스/구역</label>
								<span class="selectSet w214">
									<select name="" id="">
										<option value="" selected>A동</option>
									</select>
								</span>
								<span class="selectSet w214">
									<select name="" id="">
										<option value="" selected>A1동</option>
									</select>
								</span>
							</div>
						</div>
						<div class="gridSet">
							<div class="gridItem">
								<label>기간</label>
								<span class="calDupSet">
										<input type="text" class="cal" placeholder="일자 선택"  />
										<em>-</em>
										<input type="text" class="cal" placeholder="일자 선택"  />
								</span>
							</div>
						</div>
						<span class="btn">
							<button class="btnM">검색</button>
							<button class="btnM line">Excel</button>
						</span>
					</div>
					<!--//List search-->
					<!-- List -->
					<div class="tls dataSet">
						<table>
							<colgroup>
								<col width="30"/>
								<col width="110"/>
								<col span="2" width="90"/>
								<col width="100"/>
								<col width="*">
								<col width="70"/>
							</colgroup>
							<thead>
								<tr>
									<th>No</th>
									<th>일시</th>
									<th>작목</th>
									<th>품종</th>
									<th>병해충명</th>
									<th>비고</th>
									<th>사진</th>
								</tr>
							</thead>
							<tbody>
								<!--Loop-->
								<tr>
									<td class="no">1</td>
									<td>2021-02-15</td>
									<td>딸기</td>
									<td>기타</td>
									<td>병해충명</td>
									<td class="subject">비고 내용이 나올 영역입니다 비고 내용이 나올 영역입니다</td>
									<td><a download>보기</a></td>
								</tr>
								<!--//Loop-->
								<tr>
									<td class="no">2</td>
									<td>2021-02-15</td>
									<td>딸기</td>
									<td>기타</td>
									<td></td>
									<td class="subject"></td>
									<td><a download>보기</a></td>
								</tr>
								<tr>
									<td class="no">3</td>
									<td>2021-02-15</td>
									<td>딸기</td>
									<td>기타</td>
									<td></td>
									<td class="subject"></td>
									<td><a download>보기</a></td>
								</tr>
								<tr>
									<td class="no">4</td>
									<td>2021-02-15</td>
									<td>딸기</td>
									<td>기타</td>
									<td></td>
									<td class="subject"></td>
									<td><a download>보기</a></td>
								</tr>
								<tr>
									<td class="no">5</td>
									<td>2021-02-15</td>
									<td>딸기</td>
									<td>기타</td>
									<td></td>
									<td class="subject"></td>
									<td><a download>보기</a></td>
								</tr>
								<tr>
									<td class="no">6</td>
									<td>2021-02-15</td>
									<td>딸기</td>
									<td>기타</td>
									<td></td>
									<td class="subject"></td>
									<td><a download>보기</a></td>
								</tr>
								<tr>
									<td class="no">7</td>
									<td>2021-02-15</td>
									<td>딸기</td>
									<td>기타</td>
									<td></td>
									<td class="subject"></td>
									<td><a download>보기</a></td>
								</tr>
								<tr>
									<td class="no">8</td>
									<td>2021-02-15</td>
									<td>딸기</td>
									<td>기타</td>
									<td></td>
									<td class="subject"></td>
									<td><a download>보기</a></td>
								</tr>
								<tr>
									<td class="no">9</td>
									<td>2021-02-15</td>
									<td>딸기</td>
									<td>기타</td>
									<td></td>
									<td class="subject"></td>
									<td><a download>보기</a></td>
								</tr>
								<tr>
									<td class="no">10</td>
									<td>2021-02-15</td>
									<td>딸기</td>
									<td>기타</td>
									<td></td>
									<td class="subject"></td>
									<td><a download>보기</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div data-include="../include/paginate.html"></div>
					<!--//List -->
				</div>
				<!--//-->
