.title {
	display: inline-block;
    position: relative;
    vertical-align: middle;
    top: 118px;
    left: 63px;
}
.header > div {
    top: 48px;
    left: 61px;
    width: 1280px;
}
.main_title{
	    display: inline;
}
.title1 {
	display: inline-block;
    position: relative;
    vertical-align: middle;
    top: 118px;
    left: 63px; 
}
.title2 {
	display: inline-block;
    position: relative;
    vertical-align: middle;
    top: 118px;
    left: 63px;
} 
.title3 {
	display: inline-block;
    position: relative;
    vertical-align: middle;
    top: 118px;
    left: 63px;
}
.tit_under {
	display: inline;
	position: relative;
    top: -34px;
	font-family: 'NanumSquareRoundBold';
	font-size: 20px;
}

.tit_under_59 {
    display: block;
    position: relative;
    top: -50px;
    font-family: 'NanumSquareRoundBold';
    font-size: 20px;
    width: 910px;
    left: 282px;
    text-indent: -0.9em;
}
.tit_under_68 {
    display: block;
    position: relative;
    top: -65px;
    font-family: 'NanumSquareRoundBold';
    font-size: 20px;
    width: 910px;
    left: 282px;
    text-indent: -0.9em;
}
.content1 {
	position: absolute;
	top: 200px;
    left: 54px;
}
.content2 {
	position: absolute;
    top: 211px;
    left: 54px;
}
.content3 {
	position: absolute;
    top: 200px;
    left: 103px;
}
.content_img1{
	width: 1163px;
}
.content_img2{
	width: 879px;
}
.content_img3{
    width: 1072px;
}
.block_2week{
	position: absolute;
    top: 190px;
    left: 959px;
}
/* 팝업창 */
#pupDelPort
{
	z-index: 90; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	display: block;
}
#pupDelPort > .dim
{
	width: 100%;
	height: 100%;
}
#pupDelPort > .cardBg
{
    position: absolute;
    top: 448px;
    left: 100px;
}
#pupDelPort > .cardBg > #btnYes
{
    position: absolute;
    top: 217px;
    left: 396px;
}
#pupDelPort > .cardBg > #btnNo
{
    position: absolute;
    top: 217px;
    left: 557px;
}
.icons > img:nth-child(1){
    position: absolute;
    left: 862px;
    top: 284px;
}
.icons > img:nth-child(2){
    position: absolute;
    left: 862px;
    top: 584px;

}

