#wrap-pop {
    width:1280px;
    height: 800px;
}
.book-select-dim {
    position:relative;
    width:100%;
    height:100%;
    z-index:1;
    margin:auto;
}
.book-select-dim::after {
    position:absolute;
    content:'';
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: #050505;
    opacity: 0.6;
}
.book-select-container {
    position:absolute;
    top: 50%;
    left: 50%;
    width: 410px;
    height:570px;
    z-index:1;
    transform:translate(-50%,-50%);
    margin:auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.book-select-inner {
    display: flex;
    flex-direction: column;
}
.book-select-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    background-color: #e8e8e8;
    font-family: 'NanumSquareRoundBold';
}
.book-select-content {
    height: 420px;
    padding:10px;
    overflow-y: auto;
}
.book-select-content li {
    font-size: 17px;
    font-family: 'NanumSquareRoundOTFB';
    padding: 10px 20px;
    cursor: pointer;
}
.book-select-content li:hover {
    background-color: #2c5795;
    color:#fff;
}
.book-select-content li.active {
    background-color: #2c5795;
    color:#fff;
}
.book-select-button {
    flex:1;
    display: flex;
    padding: 15px 20px;
}
.book-select-button a {
    border:1px solid lightgray;
    font-size: 18px;
    padding: 10px 0;
    flex:1;
    border-radius: 3px;
    text-align: center;
    color: gray;
    font-family: 'NanumSquareRoundBold';
    display: flex;
    align-items: center;
    justify-content: center;

}
.book-select-button a:first-child {
    margin-right: 15px;
}