/* css reset */
html, body, div, p, img, a{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
/* content */
.all_wrap{
    position: relative;
    width: 1280px;
    height: 800px;
    overflow: hidden;
    background-size: 1280px;
}
.wbook{
	position: absolute;
    top: 100px;
    left: 20px;
}
.wpos{
	position: absolute;
    top: 69px;
    left: 143px;
}
.title_wrap_48{
    position: absolute;
    top: 154px;
    left: 126px;
}
.title_wrap_51, .title_wrap_54, .title_wrap_57{
    position: absolute;
    top: 154px;
    left: 126px;
}
.title_wrap_60, .title_wrap_63, .title_wrap_66, .title_wrap_69{
    position: absolute;
    top: 93px;
    left: 192px;
}
.title_wrap_84, .title_wrap_87, .title_wrap_90, .title_wrap_93, .title_wrap_96, .title_wrap_99  {
    position: absolute;
    top: 99px;
    left: 94px;
}
.title_wrap_72,.title_wrap_75,.title_wrap_81{
    position: absolute;
    top: 248px;
    left: 167px;
}
.title_wrap_75 img {
    width:192px; height:143px;
}
.title_wrap_96 img {
    width:371px; height:auto;
}

.title_wrap_2{
    position: absolute;
    top: 30px;
    left: 42px;
}
.weekwrap1{
	width: 336px;
	height: 297px;
}
.weekwrap2{
	width: 336px;
	height: 297px;
}
.weekwrap3{
	width: 336px;
	height: 299px;
}
.weekwrap4{
	width: 336px;
	height: 300px;
}
.week_one_wrap.lck:after {
    content:'';
    position:absolute;
    background:url('../../images/readingschool/main/lock/week_one_lock.png') no-repeat center center;
    top: 0px;
    left: 0px;
    width: 340px;
    height: 301px;
}
.week_two_wrap.lck:after {
    content:'';
    position:absolute;
    background:url('../../images/readingschool/main/lock/week_two_lock.png') no-repeat center center;
    top: 0px;
    left: 0px;
    width: 340px;
    height: 301px;
}
.week_three_wrap.lck:after {
    content:'';
    position:absolute;
    background:url('../../images/readingschool/main/lock/week_three_lock.png') no-repeat center center;
    top: 0px;
    left: 0px;
    width: 340px;
    height: 301px;
}
.week_four_wrap.lck:after {
    content:'';
    position:absolute;
    background:url('../../images/readingschool/main/lock/week_four_lock.png') no-repeat center center;
    top: 0px;
    left: 0px;
    width: 340px;
    height: 301px;
}
.per_wrap{
    position: absolute;
    width: 67px;
    height: 67px;
    left: 1087px;
    top: 24px;
}
.per_wrap img{
	width: 100%;
}
.sign_wrap_48, .sign_wrap_51, .sign_wrap_54, .sign_wrap_57{
    position: absolute;
    top: 536px;
    left: 410px;
}


.sign_wrap_60, .sign_wrap_63, .sign_wrap_66, .sign_wrap_69,
.sign_wrap_72, .sign_wrap_75, .sign_wrap_78, .sign_wrap_81{
    position: absolute;
    top: 449px;
    left: 298px;
}

.sign_wrap_84, .sign_wrap_87, .sign_wrap_90, .sign_wrap_93, .sign_wrap_96{
    position: absolute;
    top: 561px;
    left: 361px;
}
.sign_wrap_84 > img{
    width: 50%;
}

.sign_wrap_48 p, .sign_wrap_51 p, .sign_wrap_54 p, .sign_wrap_57 p{
    position: absolute;
    font-family: 'bmjua';
    font-size: 45pt;
    color: #f5ecda;
    width: 129px;
    top: 3px;
    text-align: center;
    transform: rotate(-2deg);
}

.sign_wrap_60 p, .sign_wrap_63 p, .sign_wrap_66 p, .sign_wrap_69 p {
    position: absolute;
    font-family: 'bmjua';
    font-size: 45pt;
    color: #ffffff;
    width: 50px;
    top: 44px;
    left: 96px;
    text-align: center;
}

.sign_wrap_72 p,.sign_wrap_75 p,.sign_wrap_78 p,.sign_wrap_81 p{
    position: absolute;
    font-family: 'bmjua';
    font-size: 45pt;
    color: #ffffff;
    width: 50px;
    top: 38px;
    left: 53px;
    text-align: center;
}
.sign_wrap_84 p, .sign_wrap_87 p, .sign_wrap_90 p, .sign_wrap_93 p
, .sign_wrap_96 p, .sign_wrap_99 p{
    position: absolute;
    font-family: 'bmjua';
    font-size: 45pt;
    color: #3f2727;
    width: 50px;
    top: 15px;
    left: 57px;
    text-align: center;
    transform: rotate(-4deg);
}
.week_one_wrap{
    position: absolute;
    top: 103px;
    left: 555px;
}
.week_one_wrap::after{
    /* content: ''; */
    position: absolute;
    top: 0;
    left: 0;
    width: 338px;
    height: 300px;
}
.week_one_wrap p{
    position: absolute;
    top: 257px;
    left: 295px;
}
.week_two_wrap{
    position: absolute;
    top: 103px;
    left: 908px;
}
.week_two_wrap::after{
    /* content: ''; */
    position: absolute;
    top: 0;
    left: 0;
    width: 338px;
    height: 300px;
}
.week_two_wrap p{
    position: absolute;
    top: 257px;
    left: 295px;
}
.week_three_wrap{
    position: absolute;
    top: 407px;
    left: 555px;
}
.week_three_wrap::after{
    /* content: ''; */
    position: absolute;
    top: 0;
    left: 0;
    width: 338px;
    height: 300px;
}
.week_three_wrap p{
    position: absolute;
    top: 257px;
    left: 295px;
}
.week_four_wrap{
    position: absolute;
    top: 407px;
    left: 908px;
}
.week_four_wrap::after{
    /* content: ''; */
    position: absolute;
    top: 0;
    left: 0;
    width: 338px;
    height: 300px;
}
.week_four_wrap p{
    position: absolute;
    top: 257px;
    left: 295px;
}
.btn_wrap{
    position: absolute;
    top: 730px;
    left: 953px;
}
.btn_wrap img{
    margin-right: 10px;
}
.btn_wrap img:last-child{
    margin-right: 0;
}
.popup_dim{
    width: 100%;
    height: 100%;
    background: #7b766d;
    opacity: 0.6;
}
.ebook{
    background-image: url("../../images/button/ebook_play.png");
    opacity: 80%;
    background-repeat : no-repeat;
    background-size : 90px;
    background-position: center;
}
