/* css reset */
html, body, div, p, img, a{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
/* .week{
    display: none;
} */
/* content */
.all_wrap{
    position: relative;
    width: 1280px;
    height: 800px;
    overflow: hidden;
    background-size: 1280px;
}
.wbook{ 
	position: absolute;
    top: 100px;
    left: 20px; 
}
.wpos{ 
	position: absolute;
    top: 69px;
    left: 143px;
}  
/* 구정연 수정 */
.title_wrap{ 
    position: absolute;
    top: 99px;
    left: 94px;
}
.title_wrap_2{
    position: absolute;
    top: 30px;
    left: 42px;
}
/* END */ 
.weekwrap1{
	width: 336px;
	height: 297px;
}
.weekwrap2{
	width: 336px; 
	height: 297px;
}
.weekwrap3{
	width: 336px;
	height: 299px;
}
.weekwrap4{
	width: 336px;
	height: 300px;
}
.per_wrap{
    position: absolute;
    width: 67px;
    height: 67px; 
    left: 1087px;
    top: 24px;
}
.per_wrap img{
	width: 100%;
}
/* 구정연 수정 */
.sign_wrap{
    position: absolute;
    top: 561px;
    left: 361px;
}
.sign_wrap p{
    position: absolute;
    font-family: 'bmjua';
    font-size: 45pt;
    color: #3f2727;
    width: 50px;
    top: 15px;
    left: 57px;
    text-align: center;
    transform: rotate(-4deg);
}
/* END */
.week_one_wrap{
    position: absolute;
    top: 103px;
    left: 555px;
}
.week_one_wrap::after{
    /* content: ''; */
    position: absolute;
    top: 0;
    left: 0;
    width: 338px;
    height: 300px;
}
.week_one_wrap p{
    position: absolute;
    top: 257px;
    left: 295px;
}
.week_two_wrap{
    position: absolute;
    top: 103px;
    left: 908px;
}
.week_two_wrap::after{
    /* content: ''; */
    position: absolute;
    top: 0;
    left: 0;
    width: 338px;
    height: 300px;
}
.week_two_wrap p{
    position: absolute;
    top: 257px;
    left: 295px;
}
.week_three_wrap{
    position: absolute;
    top: 407px;
    left: 555px;
}
.week_three_wrap::after{
    /* content: ''; */
    position: absolute;
    top: 0;
    left: 0;
    width: 338px;
    height: 300px;
}
.week_three_wrap p{
    position: absolute;
    top: 257px;
    left: 295px;
}
.week_four_wrap{
    position: absolute;
    top: 407px;
    left: 908px;
}
.week_four_wrap::after{
    /* content: ''; */
    position: absolute;
    top: 0;
    left: 0;
    width: 338px;
    height: 300px;
}
.week_four_wrap p{
    position: absolute;
    top: 257px;
    left: 295px;
}
.btn_wrap{
    position: absolute;
    top: 730px;
    left: 953px;
}
.btn_wrap img{
    margin-right: 10px;
}
.btn_wrap img:last-child{
    margin-right: 0;
}
.popup_dim{
    width: 100%;
    height: 100%;
    background: #7b766d;
    opacity: 0.6;
}