* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
a {
    text-decoration: none;
    color:#333;
}
body {
    padding:0;
    margin:0;
}
span {
    user-select: none;
}
input {
    outline: none;
    border:none;
    background-color: transparent;
}
li {
    list-style: none;
}
.navbar {
    height: 80px;
    padding:23px 43px;
}
.navbar > a img{
    transition: all 300ms ease-in-out;
}

.reset-button {
    float: left;
    margin-right:20px;
    margin-top: 10px;
}
.save-button {
    float: left;
    margin-top: 10px;
}
.close-button {
    float: right;
}
#wrap {
    width:1280px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.contents-top {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 69px;
}
.contents-title {
    margin-right: 20px;
    position: relative;
}
.contents-title > img {
    image-rendering: auto;
}
.contents-text {
    font-size: 21px;
    font-weight: 550;
    margin-left: 10px;
    font-family: 'NanumSquareRoundBold';
    color: #3F2727;
    position: relative;
    text-indent: -0.9em;
}
.contents-main {
    display: flex;
    align-items: center;
    padding-left: 148px;
    margin-top: 88px;
}
.contents-main-44 {
    display: flex;
    align-items: center;
    padding-left: 380px;
    margin-top: 25px;
}
.contents-main-5 {
    margin-top: 7px;
}
.contents-main-40, .contents-main-41, .contents-main-42, .contents-main-43 {
    margin-top: 17px;
}

/* 21.04.21 미영 수정 */
.contents-main > .background-4 {
    position: relative;
    width: 1043px;
    height: 438px;
    display: flex;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: flex-start;
}
.contents-main > .background-40,
.contents-main > .background-41,
.contents-main > .background-42,
.contents-main > .background-43 {
    position: relative;
    width: 827px;
    height: 607px;
    display: flex;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: flex-start;
}
.contents-main > .background-44{
    position: relative;
    width: 827px;
    height: 604px;
    display: flex;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: flex-start;
}
.contents-main > .background-5 {
    position: relative;
    width: 827px;
    height: 607px;
    display: flex;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: flex-start;
}
/* // 21.04.21 미영 수정 */
.contents-main  > img {
    width: 170px;
}
.contents-main > .background > .left {
    width:40%;
    height: 100%;
    position: relative;
}
.contents-main > .background > .right {
    height: 100%;
    flex:1;
    position: relative;
}
.left > span{
    position: absolute;
    font-size: 23px;
    text-align: center;
    font-family: 'NanumSquareRoundBold';
    color:#412E2E;
    letter-spacing: -0.8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 21.04.21 미영 수정 */
.contents-main > .background-4 > .left > span:nth-child(1) {
    top: 216px;
    left: 43px;
    font-size: 34px;
}
.contents-main > .background-4 > .left > span:nth-child(2) {
    top: 0px;
    left: 178px;
    width: 145px;
    height: 191px;
}
.contents-main > .background-4 > .left > span:nth-child(3) {
    top: 243px;
    left: 204px;
    width: 145px;
    height: 191px;
}
.contents-main > .background-40 > .left > span:nth-child(1) {
    top: 280px;
    left: 35px;
    font-size: 34px;
    width: 114px;
}
.contents-main > .background-40 > .left > span:nth-child(2) {
    top: 69px;
    left: 286px;
    width: 145px;
    height: 191px;
}
.contents-main > .background-40 > .left > span:nth-child(3) {
    top: 300px;
    left: 286px;
    width: 145px;
    height: 191px;
}
.contents-main > .background-41 > .left > span:nth-child(1) {
 	top: 297px;
    left: 44px;
    font-size: 36px;
}
.contents-main > .background-41 > .left > span:nth-child(2) {
    top: 75px;
    left: 296px;
    font-size: 26px;
    width: 114px;
}
.contents-main > .background-41 > .left > span:nth-child(3) {
    top: 288px;
    left: 297px;
    font-size: 23px;
    width: 108px;
}

.contents-main > .background-42 > .left > span:nth-child(1) {
    top: 284px;
    left: 44px;
    font-size: 36px;
}
.contents-main > .background-43 > .left > span:nth-child(1) {
    top: 296px;
    left: 35px;
    font-size: 27px;
}
.contents-main > .background-42 > .left > span:nth-child(2),
.contents-main > .background-43 > .left > span:nth-child(2){
    top: 75px;
    left: 296px;
    font-size: 26px;
    width: 114px;
}
.contents-main > .background-42 > .left > span:nth-child(3),
.contents-main > .background-43 > .left > span:nth-child(3){
    top: 305px;
    left: 298px;
    font-size: 26px;
    width: 108px;
}
.contents-main > .background-44 > .left > span:nth-child(1) {
    top: 294px;
    left: 49px;
    font-size: 49px;
}
.contents-main > .background-44 > .left > span:nth-child(2) {
    top: 72px;
    left: 293px;
    font-size: 32px;
    width: 114px;
}
.contents-main > .background-44 > .left > span:nth-child(3) {
    top: 299px;
    left: 296px;
    font-size: 32px;
    width: 108px;
}

.contents-main > .background-5 > .left > span:nth-child(1) {
    top: 303px;
    left: 32px;
    font-size: 34px;
    width: 114px;
}
.contents-main > .background-5 > .left > span:nth-child(2) {
    top: 75px;
    left: 263px;
    width: 145px;
    height: 191px;
}
.contents-main > .background-5 > .left > span:nth-child(3) {
    top: 317px;
    left: 262px;
    width: 145px;
    height: 191px;
}
/* // 21.04.21 미영 수정 */
.right > div {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    justify-content: center;
    font-weight: 550;
    border:none;
    user-select: none;
    padding: 15px;
}
.right > div > span {
    font-size: 20px;
    line-height: 1.5;
    font-family: 'NanumSquareRoundBold';
/*     transition: all 1000ms ease-in; */
    color:#412E2E;
    letter-spacing: -0.8px;
}
.right > div.active{
    opacity: 0.3;
}
/* 21.04.21 미영 수정 */
.contents-main > .background-4 > .right > div:nth-child(1) {
    top: 107px;
    left: 52px;
    width: 237px;
    height: 235px;
}
.contents-main > .background-4 > .right > div:nth-child(2) {
    top: 94px;
    left: 351px;
    width: 237px;
    height: 264px;
}

.contents-main > .background-40 > .right > div:nth-child(1) {
    top: -20px;
    left: 234px;
    width: 310px;
    height: 243px;
}
.contents-main > .background-40 > .right > div:nth-child(2) {
    top: 320px;
    left: 253px;
    width: 275px;
    height: 262px;
}
.contents-main > .background-40 > .right > div:nth-child(3) {
    top: 411px;
    left: 279px;
    width: 237px;
    height: 200px;
}
.contents-main > .background-41 > .right > div:nth-child(1) {
    top: 451px;
    left: -31px;
    width: 100px;
    height: 138px;
}

.contents-main > .background-41 > .right > div:nth-child(2) {
    top: 323px;
    left: 230px;
    width: 275px;
    height: 262px;
}
.contents-main > .background-42 > .right > div:nth-child(1),
.contents-main > .background-43 > .right > div:nth-child(1){
    top: 451px;
    left: -24px;
    width: 90px;
    height: 138px;
}
.contents-main > .background-42 > .right > div:nth-child(2),
.contents-main > .background-43 > .right > div:nth-child(2){
    top: 323px;
    left: 230px;
    width: 275px;
    height: 262px;
}
.contents-main > .background-44 > .right > div:nth-child(1) {
     top: 448px;
     left: -26px;
     width: 90px;
     height: 138px;
 }

.contents-main > .background-44 > .right > div:nth-child(2) {
    top: 323px;
    left: 228px;
    width: 275px;
    height: 262px;
}
.contents-main > .background-41 > .right > div:nth-child(1) > span,
.contents-main > .background-43 > .right > div:nth-child(1) > span {
    font-size: 26px;
}
.contents-main > .background-44 > .right > div:nth-child(1) > span {
    font-size: 31px;
}
.contents-main > .background-44 > .right > div:nth-child(2) > span {
    font-size: 31px;
}



.contents-main > .background-42 > .right > div:nth-child(1) > span{
    font-size: 22px;
}


.contents-main > .background-5 > .right > div:nth-child(1) {
    top: -24px;
    left: 197px;
    width: 237px;
    height: 235px;
}
.contents-main > .background-5 > .right > div:nth-child(2) {
    top: 169px;
    left: 243px;
    width: 237px;
    height: 264px;
}
.contents-main > .background-5 > .right > div:nth-child(3) {
    top: 411px;
    left: 279px;
    width: 237px;
    height: 200px;
}
/* //21.04.21 미영 수정 */

/*.right > div > span.invisible {
    visibility: hidden;
}*/
.recode {

}
.recode-button {
    position: absolute;
    width: 102px;
    height: 95px;
    left: 158px;
    bottom: 20px;
    max-width: 100%;
    height: auto;
    border: 7px solid #2498b9;
    padding: 0px;
    border-radius: 100px;
}
.right > div > span > a {
    color:#1A3512;
}

/* html에 인스타일로 되어있는거 css로 변경 */
.right > div:nth-child(1) .recode {
    left:61px;
    top:201px;
}
.right > div:nth-child(2) .recode {
    left:81px;
    top:229px;
}
/* // 21.04.21 미영 수정 */
.recode.stop {
    background-size: contain;
    background-repeat: no-repeat;
}
.recode.invisible {
    visibility: hidden;
}
.recode.disabled {
    pointer-events: none;
}
