<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
		<title>SmartFarm</title>
		<!-- <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" /> -->
		<link rel="stylesheet" type="text/css" href="../css/datepicker.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/nav.css" />
		<link rel="stylesheet" type="text/css" href="../css/front.css" />
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/datepicker.min.js"></script>
		<script type="text/javascript" src="../js/i18n/datepicker.kr.js"></script>
		<script type="text/javascript" src="../js/navmenu.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header">
				<header>
					<button class="btnPrev" onclick="history.back()">이전</button>
					<h1>영농일지</h1>
					<button class="btnNav">메뉴여닫기</button>
				</header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- Sub Menu -->
			<div id="snb">
				<section>
					<div class="c-menu c-menu--slide-right">
						<button class="c-close gnbClose">닫기</button>
						<div class="back" data-include="include/snb.html"></div>
					</div>
					<div class="c-mask"></div><!-- /c-mask -->
				</section>
			</div>
			<!-- //Sub Menu -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="content">
					<article>
						<!-- page layout -->
						<div><!-- class 없어도 유지 -->
							<!-- Views -->
							<div class="tvs">
								<div class="wrtieInfo">
									<span>Aileen Mondizan</span>
									<strong><em>2021-</em>11-27</strong>
								</div>
					      <dl>
					        <dt>구분</dt>
					        <dd>Planting</dd>
					      </dl>
					      <dl>
					        <dt>작업내용</dt>
					        <dd>1. spraying the artificial Polination <br/>2. leading stem of cherry tomato <br/>3.Research the Growth survey <br/>4. complete to leads stem for single unit 1-2 <br/>5. cleaning C.R</dd>
					      </dl>
					      <dl>
					        <dt>해야할일</dt>
									<dd>1. spraying the artificial Polination <br/>2. leading stem of cherry tomato <br/>3.Research the Growth survey <br/>4. complete to leads stem for single unit 1-2 <br/>5. cleaning C.R</dd>
					      </dl>
					      <dl>
					        <dt>비고</dt>
					        <dd></dd>
					      </dl>
					      <dl>
					        <dt>사진</dt>
					        <dd>
										<div class="fileAddSet">
											<div>
												<ul>
													<li><img src="../images/sampleImage.png" alt="" /></li>
													<li><img src="../images/sampleImage.png" alt="" /></li>
												</ul>
												<span>
													<button>이전</button>
													<button>다음</button>
												</span>
											</div>
										</div>
									</dd>
					      </dl>
							</div>
							<!--//Write -->
							<span class="checkAddSet">
								<input type="checkbox" id="ch1"/>
								<label for="ch1">생산</label>
							</span>
							<div style="display:none;">
								<div class="tls dataSet mtb16">
									<table>
										<colgroup>
											<col span="3" width="33.3%" />
										</colgroup>
										<thead>
											<tr>
												<th>총생량(kg)</th>
												<th>상품 (kg)</th>
												<th>하품 (kg)</th>
											</tr>
										</thead>
										<tbody>
											<!--Loop-->
											<tr>
												<td>-</td>
												<td>-</td>
												<td>-</td>
											</tr>
											<!--//Loop-->
											<!-- 데이터 없을 경우 -->
											<!-- <tr><td colspan="3" class="noneData">등록된 데이터가 없습니다.</td></tr> -->
											<!-- //데이터 없을 경우 -->
										</tbody>
									</table>
								</div>
								<div class="tvs">
						      <dl>
						        <dt>생산 비고</dt>
						        <dd></dd>
						      </dl>
								</div>
							</div>
							<span class="checkAddSet">
								<input type="checkbox" id="ch2"/>
								<label for="ch2">방제</label>
							</span>
							<div class="mt1" style="display:none;">
								<div class="tvs">
									<dl>
										<dt>약재명</dt>
										<dd>colname</dd>
									</dl>
								</div>
								<div class="tls dataSet mtb16">
									<table>
										<colgroup>
											<col span="3" width="33.3%" />
										</colgroup>
										<thead>
											<tr>
												<th>사용약량(cc)</th>
												<th>살포량(cc)</th>
												<th>희석배수</th>
											</tr>
										</thead>
										<tbody>
											<!--Loop-->
											<tr>
												<td>-</td>
												<td>-</td>
												<td>-</td>
											</tr>
											<!--//Loop-->
											<!-- 데이터 없을 경우 -->
											<!-- <tr><td colspan="3" class="noneData">등록된 데이터가 없습니다.</td></tr> -->
											<!-- //데이터 없을 경우 -->
										</tbody>
									</table>
								</div>
								<div class="tvs">
						      <dl>
						        <dt>방제 비고</dt>
						        <dd></dd>
						      </dl>
								</div>
							</div>
							<span class="checkAddSet">
								<input type="checkbox" id="ch3"/>
								<label for="ch3">병해충</label>
							</span>
							<div class="mt1" style="display:none;">
								<div class="tvs">
									<dl>
										<dt class="choiceCase">
											병해
										</dt>
										<dd>colname</dd>
									</dl>
						      <dl>
						        <dt>사진</dt>
						        <dd>
											<div class="fileAddSet">
												<div>
													<ul>
														<li><img src="../images/sampleImage.png" alt="" /></li>
														<li><img src="../images/sampleImage.png" alt="" /></li>
													</ul>
													<span>
														<button>이전</button>
														<button>다음</button>
													</span>
												</div>
											</div>
										</dd>
						      </dl>
								</div>
							</div>
							<!-- Btn -->
							<div class="btnArea">
								<a href="diary_white.html" class="btnL">수정</a>
								<a href="" class="btnL white">삭제</a>
							</div>
							<!--//Btn -->
						</div>
						<!-- //page layout -->
					</article>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
	</body>
</html>
