<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
		<title>SmartFarm</title>
		<!-- <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" /> -->
		<link rel="stylesheet" type="text/css" href="../css/datepicker.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/nav.css" />
		<link rel="stylesheet" type="text/css" href="../css/front.css" />
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/datepicker.min.js"></script>
		<script type="text/javascript" src="../js/i18n/datepicker.kr.js"></script>
		<script type="text/javascript" src="../js/navmenu.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header">
				<header>
					<button class="btnPrev" onclick="history.back()">이전</button>
					<h1>회원가입</h1>
				</header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- Sub Menu :: 회원가입 시 없음 -->
			<!-- container -->
			<div id="container">
			<section>
				<div class="content">
					<article>
						<!-- page layout -->
						<div class="joinArea step3"><!-- class 없어도 유지 -->
							<div class="joinStep">
								<div>
									<span><i>1</i><em>약관동의</em></span>
									<span><i>2</i><em>사용자정보</em></span>
									<span><i>3</i><em>가입완료</em></span>
								</div>
							</div>
							<div class="back">
								<p>
									<em><strong>test</strong>님</em>
									<span>회원가입이 완료되었습니다. <br/>많은 이용 부탁드립니다.</span>
								</p>
								<!-- Btn -->
								<div class="btnArea">
									<a href="login.html" class="btnL">로그인</a>
								</div>
								<!--//Btn -->
							</div>
						</div>
						<!-- //page layout -->
					</article>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
	</body>
</html>
