<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
		<title>SmartFarm</title>
		<!-- <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" /> -->
		<link rel="stylesheet" type="text/css" href="../css/datepicker.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/nav.css" />
		<link rel="stylesheet" type="text/css" href="../css/front.css" />
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/datepicker.min.js"></script>
		<script type="text/javascript" src="../js/i18n/datepicker.kr.js"></script>
		<script type="text/javascript" src="../js/navmenu.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap" class="mainCase">
			<!-- header -->
			<div id="header">
				<header>
					<h1 class="left"><span>SmartFarm</span></h1>
					<button class="btnNav">메뉴여닫기</button>
				</header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- Sub Menu -->
			<div id="snb">
				<section>
					<div class="c-menu c-menu--slide-right">
						<div class="back" data-include="include/snb.html"></div>
					</div>
					<div class="c-mask"></div><!-- /c-mask -->
				</section>
			</div>
			<!-- //Sub Menu -->
			<hr/>
			<!-- container -->
			<div id="mainContainer">
			<section class="mainGo">
				<h2>
					<span>Sinfle Unit 3</span> - Sector 1
					<em>2022-08-25(목)</em>
				</h2>
				<div class="mainBtn">
					<strong>SMART FARM</strong>
					<ul>
						<li><a href=""><strong>영농일지</strong></a></li>
						<li><a href=""><strong>일정관리</strong></a></li>
						<li><a href=""><strong>생육관리</strong></a></li>
						<li><a href=""><strong>양액관리</strong></a></li>
						<li><a href=""><strong>생산관리</strong></a></li>
						<li><a href=""><strong>생산관리</strong></a></li>
						<li><a href=""><strong>환경설정</strong></a></li>
					</ul>
					<!-- 이상 알림 -->
				</div>
				<div class="mainNotice">
					<button>이상 알림</button>
					<span class="selectSet">
						<select name="" id="">
							<option value="" selected>[09/06 15:13] 내부 최고기온 40.0℃</option>
						</select>
					</span>
				</div>
				<img src="../images/bg.png" alt="" />
			</section>
			<section class="dashBoard">
				<!-- 실시간 환경정보 -->
				<h3>실시간 환경정보</h3>
				<div class="realTime">
					<ul>
						<li class="item1">25.8<em>℃</em></li>
						<li class="item2">74<em>%</em></li>
						<li class="item3">20<em>ppm</em></li>
						<li class="item4">571<em>W/m²</em></li>
					</ul>
				</div>
				<!-- 최근 환경정보 -->
				<h3>최근 환경정보</h3>
				<div class="tls dataSet">
					<table>
						<colgroup>
							<col span="4" width="25%" />
						</colgroup>
						<thead>
							<tr>
								<th>구분</th>
								<th>EC</th>
								<th>PH</th>
								<th>총액량</th>
							</tr>
						</thead>
						<tbody>
							<!--Loop-->
							<tr>
								<th>최고기온</th>
								<td>-</td>
								<td>-</td>
								<td>-</td>
							</tr>
							<!--//Loop-->
							<tr>
								<th>최저기온</th>
								<td>-</td>
								<td>-</td>
								<td>-</td>
							</tr>
							<tr>
								<th>평균기온</th>
								<td>-</td>
								<td>-</td>
								<td>-</td>
							</tr>
							<tr>
								<th>평균습도</th>
								<td>-</td>
								<td>-</td>
								<td>-</td>
							</tr>
							<tr>
								<th>강수량</th>
								<td>-</td>
								<td>-</td>
								<td>-</td>
							</tr>
							<tr>
								<th>누적일사</th>
								<td>-</td>
								<td>-</td>
								<td>-</td>
							</tr>
							<tr>
								<th>외부온도</th>
								<td>-</td>
								<td>-</td>
								<td>-</td>
							</tr>
							<!-- 데이터 없을 경우 -->
							<!-- <tr><td colspan="4" class="noneData">등록된 데이터가 없습니다.</td></tr> -->
							<!-- //데이터 없을 경우 -->
						</tbody>
					</table>
				</div>
				<!-- 양액 -->
				<h3>양액</h3>
				<div class="tls dataSet">
					<table>
						<colgroup>
							<col span="4" width="25%" />
						</colgroup>
						<thead>
							<tr>
								<th>구분</th>
								<th>EC</th>
								<th>PH</th>
								<th>총액량</th>
							</tr>
						</thead>
						<tbody>
							<!--Loop-->
							<tr>
								<th>공급</th>
								<td>9</td>
								<td>9</td>
								<td>9</td>
							</tr>
							<!--//Loop-->
							<tr>
								<th>폐액</th>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
							<tr>
								<th>차이</th>
								<td>8.00</td>
								<td>8.00</td>
								<td>8.00</td>
							</tr>
							<!-- 데이터 없을 경우 -->
							<!-- <tr><td colspan="4" class="noneData">등록된 데이터가 없습니다.</td></tr> -->
							<!-- //데이터 없을 경우 -->
						</tbody>
					</table>
				</div>
				<!-- 생육 -->
				<h3>생육</h3>
				<div class="tls dataSet">
					<table>
						<colgroup>
							<col span="4" width="25%" />
						</colgroup>
						<thead>
							<tr>
								<th>구분</th>
								<th>전전주</th>
								<th>전주</th>
								<th>금주</th>
							</tr>
						</thead>
						<tbody>
							<!-- 데이터 없을 경우 -->
							<tr><td colspan="4" class="noneData">등록된 데이터가 없습니다.</td></tr>
							<!-- //데이터 없을 경우 -->
						</tbody>
					</table>
				</div>
				<!-- 생산량 -->
				<h3>생산량</h3>
				<div class="tls dataSet">
					<table>
						<colgroup>
							<col span="4" width="25%" />
						</colgroup>
						<thead>
							<tr>
								<th>구분</th>
								<th>22.07.01</th>
								<th>-</th>
								<th>-</th>
							</tr>
						</thead>
						<tbody>
							<!--Loop-->
							<tr>
								<th>총생산량</th>
								<td>164</td>
								<td>-</td>
								<td>-</td>
							</tr>
							<!--//Loop-->
							<tr>
								<th>상품</th>
								<td>154</td>
								<td>-</td>
								<td>-</td>
							</tr>
							<tr>
								<th>하품</th>
								<td>10</td>
								<td>-</td>
								<td>-</td>
							</tr>
							<!-- 데이터 없을 경우 -->
							<!-- <tr><td colspan="4" class="noneData">등록된 데이터가 없습니다.</td></tr> -->
							<!-- //데이터 없을 경우 -->
						</tbody>
					</table>
				</div>
				<!-- // -->
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
	</body>
</html>
