<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
		<title>SmartFarm</title>
		<!-- <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" /> -->
		<link rel="stylesheet" type="text/css" href="../css/datepicker.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/nav.css" />
		<link rel="stylesheet" type="text/css" href="../css/front.css" />
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/datepicker.min.js"></script>
		<script type="text/javascript" src="../js/i18n/datepicker.kr.js"></script>
		<script type="text/javascript" src="../js/navmenu.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header">
				<header>
					<button class="btnPrev" onclick="history.back()">이전</button>
					<h1>내정보</h1>
					<button class="btnNav">메뉴여닫기</button>
				</header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- Sub Menu -->
			<div id="snb">
				<section>
					<div class="c-menu c-menu--slide-right">
						<button class="c-close gnbClose">닫기</button>
						<div class="back" data-include="include/snb.html"></div>
					</div>
					<div class="c-mask"></div><!-- /c-mask -->
				</section>
			</div>
			<!-- //Sub Menu -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="content">
					<article>
						<!-- page layout -->
						<div><!-- class 없어도 유지 -->
							<!-- Write -->
							<div class="tws">
								<table>
									<colgroup>
										<col width="154"/>
										<col width="*"/>
										<col width="154"/>
										<col width="*"/>
									</colgroup>
									<tbody>
										<tr>
											<th>사용자 ID</th>
											<td colspan="3">Abcd1234</td>
										</tr>
										<tr>
											<th>비밀번호</th>
											<td colspan="3">
												<a href="pwChange.html" class="btnM line">비밀번호 변경</a>
											</td>
										</tr>
										<tr>
											<th>이름 <sup>*</sup></th>
											<td colspan="3"><input type="text"/></td>
										</tr>
										<tr>
											<th>소속</th>
											<td><input type="text"/></td>
											<th>직급</th>
											<td><input type="text"/></td>
										</tr>
										<tr>
											<th>연락처 <sup>*</sup></th>
											<td><input type="text"/></td>
											<th>모바일 <sup>*</sup></th>
											<td><input type="text"/></td>
										</tr>
										<tr>
											<th>이메일<sup>*</sup></th>
											<td colspan="3">
												<div class="emailForm">
													<input type="text" />
													<em>@</em>
													<input type="text" />
												</div>
											</td>
										</tr>
										<tr>
											<th>농장명</th>
											<td colspan="3">우리농장</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!--//Write -->
							<!-- Btn -->
							<div class="btnArea">
								<a href="myInfo_modify.html" class="btnL">수정</a>
								<a href="resign.html" class="btnL line">회원탈퇴</a>
							</div>
							<!--//Btn -->
						</div>
						<!-- //page layout -->
					</article>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
	</body>
</html>
