<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>토탈시스템</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/newLayout.css">
    <link rel="stylesheet" href="../css/popup.css">
    <script src="../js/jquery-3.5.1.js"></script>
    <script src="../js/common.js"></script>
	</head>
  <body>
    <!-- Wrap -->
    <div id="wrap">
      <div class="warningArea">
        <p>
          서비스 연결이 안돼요!<br/>
          네트워크 연결 상태를 확인 후 다시 시도해 주세요!
        </p>
        <button>다시 시도</button>
      </div>
    </div>
    <!-- //Wrap -->
  </body>
</html>



<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/check_warning.css">
</head>

<body>
    <div id="wrap">
        <div class="check_warning_box">
            <img class="warning_icon" src="../images/a3.png" alt="">
            <span class="check_warning_title">점검 안내</span>
            <p>서비스를 이용하실 수 없습니다.</p>
            <p class="try_again_mention">잠시 후 다시 시도해주세요.</p>
            <button class="check_warning_button">
                확인
            </button>
        </div>
      //update_box 끝
    </div>
</body>

</html> -->
