<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>토탈시스템</title>
    <link rel="stylesheet" href="../css/newLayout.css">
    <link rel="stylesheet" href="../css/popup.css">
    <script src="../js/jquery-3.5.1.js"></script>
    <script src="../js/common.js"></script>
    <script>
  		$(document).ready(function(){
				let labels = document.querySelectorAll('label');
				let getInput = (name, val) => document.getElementById(`rating${name}-${val}`);
	
				labels.forEach(label => {
					label.addEventListener('touchstart', e => {
						let targetInput = getInput(e.target.control.name, e.target.control.value);
						targetInput.checked = true;
					});
	
					label.addEventListener('touchmove', e => {
						let touch = e.touches[0]
						let targetLabel = document.elementFromPoint(touch.clientX, touch.clientY);
	
						if (!targetLabel || !targetLabel.htmlFor) return;
	
						let targetInput = document.getElementById(targetLabel.htmlFor);
						targetInput.checked = true;
					})
				});
      });

			</script>
	</head>
  <body>
    <!-- Wrap -->
    <div id="wrap">
      <!-- header -->
      <div id="header">
				<button class="btnPrev" onclick="history.back()">이전 화면으로 이동</button>
        <h1>부모 상담 리스트</h1>
        <button class="btnLnb on">LNB Opner</button><!-- 신규 내용이 있을 경우 on 추가 -->
      </div>
      <!-- //header -->
      <hr/>
      <!-- container -->
      <div id="container">
        <section>
          <!-- Page Layout -->
          <div class="studyVisiting">
						<div class="studyInfo">
							<div class="subject resultCase">
								<strong class="long">국어 <em>2022.02.20</em></strong>
								<span>
									<em>박다희 아동</em><em>월요일 10:00</em><em>교과토탈 048 PL</em>
								</span>
							</div>
							<div class="currentState">
								<strong>
									<em>현재 학습 진도<i>1단계 (1)주</i></em>
								</strong>
								<div class="cInfo">
									<dl class="ib">
										<dt>IB학제</dt>
										<dd>우리는 우리 자신을 어떻게 표현하는가</dd>
									</dl>
									<dl class="topic">
										<dt>대주제</dt>
										<dd>낱말 학습</dd>
										<dt>소주제</dt>
										<dd>탈것의 이름 알기</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="studyResult">
							<div class="back">
								<h2>수업 지표</h2>
								<div>
									<dl class="rateItem1">
										<dt>참여지수</dt>
										<dd>
											<div class="rating">
												<input type="radio" disabled checked class="rInput heartInputNone" name="rating1" id="rating1-0" value="0">
												<label class="rLabel" for="rating1-1"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating1" id="rating1-1" value="1">
												<label class="rLabel" for="rating1-2"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating1" id="rating1-2" value="2">
												<label class="rLabel" for="rating1-3"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating1" id="rating1-3" value="3">
												<label class="rLabel" for="rating1-4"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating1" id="rating1-4" value="4">
												<label class="rLabel" for="rating1-5"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating1" id="rating1-5" value="5">
											</div>
										</dd>
									</dl>
									<dl class="rateItem2">
										<dt>완성지수</dt>
										<dd>
											<div class="rating">
												<input type="radio" disabled checked class="rInput heartInputNone" name="rating2" id="rating2-0" value="0">
												<label class="rLabel" for="rating2-1"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating2" id="rating2-1" value="1">
												<label class="rLabel" for="rating2-2"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating2" id="rating2-2" value="2">
												<label class="rLabel" for="rating2-3"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating2" id="rating2-3" value="3">
												<label class="rLabel" for="rating2-4"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating2" id="rating2-4" value="4">
												<label class="rLabel" for="rating2-5"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating2" id="rating2-5" value="5">
											</div>
										</dd>
									</dl>
									<dl class="rateItem3">
										<dt>흥미지수</dt>
										<dd>
											<div class="rating">
												<input type="radio" disabled checked class="rInput heartInputNone" name="rating3" id="rating3-0" value="0">
												<label class="rLabel" for="rating3-1"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating3" id="rating3-1" value="1">
												<label class="rLabel" for="rating3-2"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating3" id="rating3-2" value="2">
												<label class="rLabel" for="rating3-3"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating3" id="rating3-3" value="3">
												<label class="rLabel" for="rating3-4"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating3" id="rating3-4" value="4">
												<label class="rLabel" for="rating3-5"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating3" id="rating3-5" value="5">
											</div>
										</dd>
									</dl>
									<dl class="rateItem4">
										<dt>창의력지수</dt>
										<dd>
											<div class="rating">
												<input type="radio" disabled checked class="rInput heartInputNone" name="rating4" id="rating4-0" value="0">
												<label class="rLabel" for="rating4-1"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating4" id="rating4-1" value="1">
												<label class="rLabel" for="rating4-2"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating4" id="rating4-2" value="2">
												<label class="rLabel" for="rating4-3"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating4" id="rating4-3" value="3">
												<label class="rLabel" for="rating4-4"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating4" id="rating4-4" value="4">
												<label class="rLabel" for="rating4-5"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating4" id="rating4-5" value="5">
											</div>
										</dd>
									</dl>
									<dl class="rateItem5">
										<dt>자기주도지수</dt>
										<dd>
											<div class="rating">
												<input type="radio" disabled checked class="rInput heartInputNone" name="rating5" id="rating5-0" value="0">
												<label class="rLabel" for="rating5-1"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating5" id="rating5-1" value="1">
												<label class="rLabel" for="rating5-2"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating5" id="rating5-2" value="2">
												<label class="rLabel" for="rating5-3"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating5" id="rating5-3" value="3">
												<label class="rLabel" for="rating5-4"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating5" id="rating5-4" value="4">
												<label class="rLabel" for="rating5-5"><i class="heart"></i></label>
												<input class="rInput" type="radio" name="rating5" id="rating5-5" value="5">
											</div>
										</dd>
									</dl>
								</div>
							</div>
						</div>
          </div>
          <!-- //page Layout -->
        </section>
      </div>
      <!-- //container -->
    </div>
    <!-- //Wrap -->
  </body>
</html>
