<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>토탈시스템</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/billboard.css">
    <link rel="stylesheet" href="../css/newLayout.css">
    <link rel="stylesheet" href="../css/popup.css">
    <script src="../js/jquery-3.5.1.js"></script>
		<script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="../js/billboard.js"></script>
    <script src="../js/billboard.pkgd.js"></script>
    <script src="../js/common.js"></script>
		<script>
			$(document).ready(function(){
	        google.charts.load('current', {'packages':['bar']});
	        google.charts.setOnLoadCallback(drawChart);
	        // 독서 두뇌 리포트 차트
	        function drawChart() {
	          var data = google.visualization.arrayToDataTable([
	            ['', '',],
	            ['언어', 200],
	            ['사회', 200],
	            ['수학', 460],
	            ['예술', 200],
	            ['과학', 200],
	            ['인성/체육', 460],
	          ]);
	          var options = {
	            chart: {
	              title: '',
	              subtitle: '',
	            },
							legend : {position: 'none'},
	            bars: 'horizontal' // Required for Material Bar Charts.
	          };
	          var chart = new google.charts.Bar(document.getElementById('chart1'));
	          chart.draw(data, google.charts.Bar.convertOptions(options));
	        };

	        // 창의융합 역량 리포트 차트
	        google.charts.load('current', {'packages':['bar']});
	        google.charts.setOnLoadCallback(drawChart2);
	        function drawChart2() {
	          var data = google.visualization.arrayToDataTable([
	            ['', '',],
	            ['공동체', 200],
	            ['자기관리', 200],
	            ['의사소통', 460],
	            ['지식정보처리', 200],
	            ['심미적감성', 200],
	            ['창의적사고', 460],
	          ]);
	          var options = {
	            chart: {
	              title: '',
	              subtitle: '',
	            },
							legend : {position: 'none'},
	            bars: 'horizontal' // Required for Material Bar Charts.
	          };
	          var chart = new google.charts.Bar(document.getElementById('chart2'));
	          chart.draw(data, google.charts.Bar.convertOptions(options));
	        };

					//유형별 분포
					var chart = bb.generate({
	        data: {
	            x: "x",
	            columns: [
	            ["x", "어휘력", "추론력", "비판적 사고력", "창의융합 사고력", "이해력"],
	            ["윤지훈", 10, 250, 400, 300, 50],
	            ],
	            type: "radar",
	            labels: true
	        },
	        radar: {
	            axis: {
	            max: 400
	            },
	            level: {
	            depth: 4
	            },
	            direction: {
	            clockwise: true
	            }
	        },
	        bindto: "#radarChart"
	        });
			});
		</script>
	</head>
  <body>
    <!-- Wrap -->
    <div id="wrap">
      <!-- header -->
      <div id="header">
				<button class="btnPrev" onclick="history.back()">이전 화면으로 이동</button>
        <h1>리딩토탈 학습 리포트</h1>
        <button class="btnLnb on">LNB Opner</button><!-- 신규 내용이 있을 경우 on 추가 -->
      </div>
      <!-- //header -->
      <hr/>
      <!-- container -->
      <div id="container">
        <section>
          <!-- Page Layout -->
          <div class="readingReport">
						<div class="studyInfo">
							<em>박다희 아동</em><em>월요일 10:00</em><em>리딩토탈 048 PL</em>
						</div>
						<!------------------------------------------------>
						<div class="bothBox">
							<div class="item">
								<h2>독서 두뇌 리포트</h2>
								<div class="whiteBox">
									<div id="chart1" class="graphArea"></div>
								</div>
							</div>
							<div class="item">
								<h2>창의융합 역량 리포트</h2>
								<div class="whiteBox">
									<div id="chart2" class="graphArea"></div>
								</div>
							</div>
						</div>
						<!------------------------------------------------>
						<div class="rrTit">
							<h2>학습 컨텐츠 이용 리포트</h2>
							<span class="calendar_wrap">
								<button class="cal_arrow_left"><img src="../images/left_1.png" alt="이전달"></button>
								<em class="cal_txt">2022.03</em>
								<button class="cal_arrow_right"><img src="../images/right_1.png" alt="다음달"></button>
							</span>
						</div>
						<div class="whiteBox">
							<div class="tls">
									<table>
											<thead>
													<th>차시</th>
													<th>주제</th>
													<th>도서</th>
													<th>완강현황</th>
													<th>포트폴리오</th>
											</thead>
											<tbody>
													<tr>
															<td class="report_num">02-01</td>
															<td>유치원과 친구</td>
															<td class="report_book_title">꽁지 닷 발 주둥이 닷 발</td>
															<td><span class="txt_yello">4</span>/6<span><button type="button" class="btn_check">보기</button></span></td>
															<td><button type="button" class="btn_portfolio">보기</button></td>
													</tr>
													<tr>
															<td class="report_num">02-01</td>
															<td>유치원과 친구</td>
															<td class="report_book_title">너 때문에 화났어!</td>
															<td><span class="txt_yello">4</span>/6<span><button type="button" class="btn_check">보기</button></span></td>
															<td><button type="button" class="btn_portfolio">보기</button></td>
													</tr>
													<tr>
															<td class="report_num">02-01</td>
															<td>유치원과 친구</td>
															<td class="report_book_title">너 때문에 화났어!</td>
															<td><span class="txt_yello">4</span>/6<span><button type="button" class="btn_check">보기</button></span></td>
															<td><button type="button" class="btn_portfolio">보기</button></td>
													</tr>
													<tr>
															<td class="report_num">02-01</td>
															<td>유치원과 친구</td>
															<td class="report_book_title">너 때문에 화났어!</td>
															<td><span class="txt_yello">4</span>/6<span><button type="button" class="btn_check">보기</button></span></td>
															<td><button type="button" class="btn_portfolio">보기</button></td>
													</tr>
													<tr>
															<td class="report_num">02-01</td>
															<td>유치원과 친구</td>
															<td class="report_book_title">너 때문에 화났어!</td>
															<td><span class="txt_yello">4</span>/6<span><button type="button" class="btn_check">보기</button></span></td>
															<td><button type="button" class="btn_portfolio">보기</button></td>
													</tr>
													<tr>
															<td class="report_num">02-01</td>
															<td>유치원과 친구</td>
															<td class="report_book_title">너 때문에 화났어!</td>
															<td><span class="txt_yello">4</span>/6<span><button type="button" class="btn_check">보기</button></span></td>
															<td><button type="button" class="btn_portfolio">보기</button></td>
													</tr>
											</tbody>
									</table>
							</div>
						</div>
						<!------------------------------------------------>
						<h2>진단평가리포트</h2>
						<div class="whiteBox">
							<div class="bothBox2">
								<div class="item">
									<strong>유형별 분포</strong>
			            <div id="radarChart" class="graphArea"></div>
								</div>
								<div class="item2">
					        <div class="aiScroll">
				            <strong>AI 분석 결과(01~03)</strong>
										<dl>
											<dt>종합결과</dt>
											<dd>분석한 결과, 문제에 대해 사전적 의미를 이해하고, 문맥을 매우 잘 파악하고 있어요. 다만 글을 전체적으로 이해하고 추론하는 부분에 대해 조금 더 관심이 필요합니다. 역량 다지기 학습에 집중하여 지도해 주세요. 분석한 결과, 문제에 대해 사전적 의미를 이해하고, 문맥을 매우 잘 파악하고 있어요. 다만 글을 전체적으로 이해하고 추론하는 부분에 대해 조금 더 관심이 필요합니다. 역량 다지기 학습에 집중하여 지도해 주세요.</dd>
										</dl>
										<dl>
											<dt>어휘와 문장의 이해 결과</dt>
											<dd>분석한 결과, 문제에 대해 사전적 의미를 이해하고, 문맥을 매우 잘 파악하고 있어요. 다만 글을 전체적으로 이해하고 추론하는 부분에 대해 조금 더 관심이 필요합니다. 역량 다지기 학습에 집중하여 지도해 주세요. 분석한 결과, 문제에 대해 사전적 의미를 이해하고, 문맥을 매우 잘 파악하고 있어요. 다만 글을 전체적으로 이해하고 추론하는 부분에 대해 조금 더 관심이 필요합니다. 역량 다지기 학습에 집중하여 지도해 주세요.</dd>
										</dl>
										<dl>
											<dt>어휘와 문장의 이해 결과</dt>
											<dd>분석한 결과, 문제에 대해 사전적 의미를 이해하고, 문맥을 매우 잘 파악하고 있어요. 다만 글을 전체적으로 이해하고 추론하는 부분에 대해 조금 더 관심이 필요합니다. 역량 다지기 학습에 집중하여 지도해 주세요. 분석한 결과, 문제에 대해 사전적 의미를 이해하고, 문맥을 매우 잘 파악하고 있어요. 다만 글을 전체적으로 이해하고 추론하는 부분에 대해 조금 더 관심이 필요합니다. 역량 다지기 학습에 집중하여 지도해 주세요.</dd>
										</dl>
					        </div>
								</div>
							</div>
						</div>
						<!------------------------------------------------>
          </div>
          <!-- //page Layout -->
        </section>
      </div>
      <!-- //container -->
    </div>
    <!-- //Wrap -->
  </body>
</html>
