<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>토탈시스템</title>
    <link rel="stylesheet" href="../css/newLayout.css">
    <link rel="stylesheet" href="../css/popup.css">
    <script src="../js/jquery-3.5.1.js"></script>
		<script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="../js/common.js"></script>
		<script>
			$(document).ready(function(){
			});
		</script>
	</head>
  <body>
    <!-- Wrap -->
    <div id="wrap">
      <!-- header -->
      <div id="header">
				<button class="btnPrev" onclick="history.back()">이전 화면으로 이동</button>
        <h1>시간표</h1>
        <button class="btnLnb on">LNB Opner</button><!-- 신규 내용이 있을 경우 on 추가 -->
      </div>
      <!-- //header -->
      <hr/>
      <!-- container -->
      <div id="container">
        <section>
          <!-- Page Layout -->
          <div class="schedule">
						<!------------------------------------------------>
						<div class="calTit">
							<span class="calendar_wrap">
								<button class="cal_arrow_left"><img src="../images/left_1.png" alt="이전달"></button>
								<em class="cal_txt">2022년 02-03월</em>
								<button class="cal_arrow_right"><img src="../images/right_1.png" alt="다음달"></button>
							</span>
							<button class="btnBlue">오늘</button>
							<div class="teacher">
								<em>교육 6팀(2014) FE-410</em><em>이혜리 다중</em>
							</div>
						</div>
						<!------------------------------------------------>
						<div class="timeTable">
							<table>
								<thead>
									<tr>
										<th></th>
										<th>일</th>
										<th>월</th>
										<th>화</th>
										<th>수</th>
										<th>목</th>
										<th>금</th>
										<th>토</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>10:00</th>
										<td></td>
										<td>
											<div class="time">
												<strong>박다희</strong>
												<span>교과토탈 PL 01</span>
											</div>
										</td>
										<td></td>
										<td>
											<div class="time">
												<strong>박다희</strong>
												<span>교과토탈 PL 01</span>
											</div>
										</td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<th>11:00</th>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<th>12:00</th>
										<td></td>
										<td>
											<div class="time">
												<strong>박다희</strong>
												<span>교과토탈 PL 01</span>
											</div>
										</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<th>13:00</th>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td>
											<div class="time">
												<strong>박다희</strong>
												<span>교과토탈 PL 01</span>
											</div>
										</td>
										<td></td>
									</tr>
									<tr>
										<th>14:00</th>
										<td></td>
										<td></td>
										<td>
											<div class="time">
												<strong>박다희</strong>
												<span>교과토탈 PL 01</span>
											</div>
										</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<th>15:00</th>
										<td></td>
										<td></td>
										<td></td>
										<td>
											<div class="time">
												<strong>박다희</strong>
												<span>교과토탈 PL 01</span>
											</div>
										</td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<th>16:00</th>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<th>17:00</th>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!------------------------------------------------>
          </div>
          <!-- //page Layout -->
        </section>
      </div>
      <!-- //container -->
    </div>
    <!-- //Wrap -->
  </body>
</html>
