<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
		<title>SmartFarm</title>
		<!-- <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" /> -->
		<link rel="stylesheet" type="text/css" href="../../css/datepicker.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/front.css" />
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../../js/datepicker.min.js"></script>
		<script type="text/javascript" src="../../js/i18n/datepicker.kr.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header" data-include="../include/header.html"></div>
			<!-- //header -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="subTit"><div><h2>농가알림</h2><span><em>알림</em><strong>농가알림</strong></span></div></div>
				<div class="content">
					<article>
						<!-- page layout -->
						<div><!-- class 없어도 유지 -->
							<!-- List search -->
							<div class="listSearch">
								<div class="gridSet">
									<div class="gridLine">
										<div class="gridItem">
											<label>구분</label>
											<span class="selectSet">
												<select name="" id="">
													<option value="" selected>전체</option>
												</select>
											</span>
											<input type="text" class="w214" />
											<button class="btnSearch">Search</button>
										</div>
									</div>
								</div>
								<span class="btn">
									<a href="notice_write.html" class="btnM line">등록</a>
								</span>
							</div>
							<!--//List search-->
							<!-- List -->
			        <div class="tls">
			          <table>
			            <colgroup>
			              <col width="70">
				            <col width="*">
			              <col width="130">
				            <col width="165">
			              <col width="70">
			            </colgroup>
			            <thead>
			              <tr>
											<th>No</th>
											<th>제목</th>
											<th>작성자 ID</th>
											<th>등록일시</th>
											<th>조회수</th>
			              </tr>
			            </thead>
			            <tbody>
			              <!--Loop-->
			              <tr>
			                <td class="no">22</td>
											<td class="subject"><a href="notice_view.html">테스트 공지입니다.</a></td>
											<td>abc1234</td>
											<td>2021-02-15 12:12:12</td>
											<td>3</td>
			              </tr>
			              <!--//Loop-->
			              <tr>
			                <td class="no">21</td>
											<td class="subject"><a href="notice_view.html">테스트 공지입니다.</a></td>
											<td>abc1234</td>
											<td>2021-02-15 12:12:12</td>
											<td>3</td>
			              </tr>
			              <tr>
			                <td class="no">20</td>
											<td class="subject"><a href="notice_view.html">테스트 공지입니다.</a></td>
											<td>abc1234</td>
											<td>2021-02-15 12:12:12</td>
											<td>3</td>
			              </tr>
			              <tr>
			                <td class="no">19</td>
											<td class="subject"><a href="notice_view.html">테스트 공지입니다. 테스트 공지입니다. 테스트 공지입니다. 테스트 공지입니다. 테스트 공지입니다. 테스트 공지입니다.</a></td>
											<td>abc1234</td>
											<td>2021-02-15 12:12:12</td>
											<td>3</td>
			              </tr>
			              <!-- 데이터 없을 경우 -->
			              <tr><td colspan="5" class="noneData">등록된 데이터가 없습니다.</td></tr>
			              <!-- //데이터 없을 경우 -->
			            </tbody>
			          </table>
			        </div>
							<!--//List -->
							<div data-include="../include/paginate.html"></div>
						</div>
						<!-- //page layout -->
					</article>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
	</body>
</html>
