<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
        <title>KG에듀원 교원임용 희소/쌤플러스</title>
        <link rel="shortcut icon" type="image/x-icon" href="../../images/favicon.ico" />
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
		<link rel="stylesheet" type="text/css" href="../../css/datepicker.min.css" />
        <link rel="stylesheet" type="text/css" href="../../css/layout.css" />
        <link rel="stylesheet" type="text/css" href="../../css/sub.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../../js/jquery.toast.js"></script>
        <script type="text/javascript" src="../../js/datepicker.min.js"></script>
        <script type="text/javascript" src="../../js/i18n/datepicker.kr.js"></script>
        <script type="text/javascript" src="../../js/common.js"></script>
	</head>
	<body>
        <!-- Wrap -->
        <div id="newPopupWrap">
			<h1><strong>강좌변경내역</strong></h1>
            <!-- container -->
            <div id="container">
            <section>
                <div class="content">
                <article>
					<!-- page layout -->
					<div><!-- class 없어도 유지 -->

					</div>
					<!-- //page layout -->
                </article>
                </div>
            </section>
			</div>
        </div>
        <!-- //Wrap -->
	</body>
</html>
