<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
        <title>KG에듀원 교원임용 희소/쌤플러스</title>
        <link rel="shortcut icon" type="image/x-icon" href="../../images/favicon.ico" />
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
		<link rel="stylesheet" type="text/css" href="../../css/datepicker.min.css" />
        <link rel="stylesheet" type="text/css" href="../../css/layout.css" />
        <link rel="stylesheet" type="text/css" href="../../css/sub.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../../js/jquery.toast.js"></script>
        <script type="text/javascript" src="../../js/datepicker.min.js"></script>
        <script type="text/javascript" src="../../js/i18n/datepicker.kr.js"></script>
        <script type="text/javascript" src="../../js/common.js"></script>
	</head>
	<body>
        <!-- Wrap -->
        <div id="wrap">
            <!-- header -->
            <div id="header">
                <header>
                     <div data-include="../include/header.html"></div>
                </header>
            </div>
            <!-- //header -->
            <hr/>
            <!-- Sub Menu -->
            <div id="snb">
                <aside>
					<div data-include="../include/snb.html"></div>
                </aside>
            </div>
            <!-- //Sub Menu -->
            <hr/>
            <!-- container -->
            <div id="container">
            <section>
                <h2><strong>회원 상세</strong><span><a href=".html">회원/교수</a><a href=".html">회원 관리</a><a href=".html">회원 조회</a></span></h2>
                <div class="content">
                <article>
					<!-- page layout -->
					<div><!-- class 없어도 유지 -->
						<!-- tab-wrap -->
						<div class="tabwrap">
							<!-- tab -->
							<div class="tabBack">
								<div class="tabNav">
									<nav>
										<ul>
											<li class="on"><button class="newTab" data-name="0">회원정보</button></li>
											<li><button data-name="1">수강강좌</button></li>
											<li><button data-name="2">결제내역</button></li>
											<li><button data-name="3">주문배송</button></li>
											<li><button data-name="4">1:1상담내역</button></li>
											<li><button data-name="5">쿠폰내역</button></li>
											<li><button data-name="6">장바구니/교재</button></li>
										</ul>
									</nav>
								</div>
								<a>목록으로</a>
								<button>메시지발송</button>
							</div>
							<!--// tab -->
							<div class="tabLayout">
								<div class="tabData tData0" style="display:block;">
									<h3>
										기본정보
										<span>361145 / 김지민 / jimin0123 님의 정보입니다.</span>
									</h3>
									<div class="tvs">
										<table>
											<colgroup>
												<col width="160"/>
												<col width=""/>
												<col width="160"/>
												<col width=""/>
											</colgroup>
											<tbody>
												<tr>
													<th>일반</th>
													<td>유료수강</td>
													<th>일반</th>
													<td>유료수강</td>
												</tr>
											</tbody>
										</table>
									</div>
									<h3>가입/로그인 정보</h3>
									<h3>관리</h3>
								</div>
								<div class="tabData tData1">
									<h3>동영상강좌</h3>
									<h3>학원강좌</h3>
									<h3>온라인 모의고사</h3>
								</div>
								<div class="tabData tData2">
									<h3>결제내역</h3>
								</div>
								<div class="tabData tData3">
									<h3>교재배송 내역</h3>
								</div>
								<div class="tabData tData4">
									<h3>1:1 온라인상담</h3>
									<h3>1:1 방문상담</h3>
									<h3>1:1 전화상담</h3>
								</div>
								<div class="tabData tData5">
									<h3>쿠폰내역</h3>
								</div>
								<div class="tabData tData6">
									<h3>장바구니 내역</h3>
									<h3>추천교재 내역</h3>
								</div>
							</div>
						</div>
						<!-- //tab-wrap -->
					</div>
					<!-- //page layout -->
                </article>
                </div>
            </section>
            </div>
            <!-- //container -->
        </div>
        <!-- //Wrap -->
	</body>
</html>
