<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
		<title>SmartFarm</title>
		<!-- <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" /> -->
		<link rel="stylesheet" type="text/css" href="../../css/datepicker.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/front.css" />
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../../js/datepicker.min.js"></script>
		<script type="text/javascript" src="../../js/i18n/datepicker.kr.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header" data-include="../include/header.html"></div>
			<!-- //header -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="subTit"><div><h2>일정관리</h2><span><em>회원관리</em><strong>일정관리</strong></span></div></div>
				<div class="content">
					<article>
						<!-- page layout -->
						<div><!-- class 없어도 유지 -->
							<!-- List search -->
							<div class="listSearch scalableCase">
								<div class="gridSet">
									<div class="gridItem">
										<label>하우스</label>
										<span class="selectSet w214">
											<select name="" id="">
												<option value="" selected>A동</option>
											</select>
										</span>
										<label class="center">구역</label>
										<span class="selectSet w214">
											<select name="" id="">
												<option value="" selected>A1동</option>
											</select>
										</span>
										<button class="btnSearch">Search</button>
									</div>
								</div>
								<div class="choiceMonth">
									<button class="btnM line">오늘</button>
									<button class="prevM">이전달</button>
									<strong><span>August</span> 2022</strong>
									<button class="nextM">다음달</button>
								</div>
								<span class="btn">
									<a href="schedule_list.html" class="btnM">목록</a>
									<button class="btnM line" id="alertBtn1">Excel</button>
								</span>
							</div>
							<!--//List search-->
							<!-- List -->
			        <div class="calendarLS">
						    <div class="day">
						      <em>SUN</em>
						      <em>MON</em>
						      <em>TUE</em>
						      <em>WED</em>
						      <em>THU</em>
						      <em>FRI</em>
						      <em>SAT</em>
						    </div>
						    <div class="week_div">
						      <!--Loop-->
						      <div class="date notM">
						        <strong>31</strong>
						        <span class="iSc unCheck">A-1 / 홍길동</span>
						      </div>
						      <div class="date">
						        <strong id="basicBtn1">01</strong>
						        <span class="iSc plan" id="basicBtn2">A-1 / 클릭샘플</span>
						        <span class="iSc ing">A-1 / 홍길동</span>
						        <span class="iSc check">A-1 / 홍길동</span>
						        <button id="basicBtn3">+5 더보기</button>
						      </div>
						      <div class="date">
						        <strong>02</strong>
						        <span class="iSc unCheck">A-1 / 홍길동</span>
						      </div>
						      <div class="date">
						        <strong>03</strong>
						        <span class="iSc unCheck">A-1 / 홍길동</span>
						      </div>
						      <div class="date">
						        <strong>04</strong>
						        <span class="iSc unCheck">A-1 / 홍길동</span>
						      </div>
						      <div class="date">
						        <strong>05</strong>
						        <span class="iSc unCheck">A-1 / 홍길동</span>
						      </div>
						      <div class="date">
						        <strong>06</strong>
						        <span class="iSc unCheck">A-1 / 홍길동</span>
						      </div>
						      <!--//Loop-->
						      <div class="date">
						        <strong>07</strong>
						        <span class="iSc unCheck">A-1 / 홍길동</span>
						      </div>
						      <div class="date">
						        <strong>08</strong>
						        <span class="iSc unCheck">A-1 / 홍길동</span>
						      </div>
						      <div class="date">
						        <strong>09</strong>
						        <span class="iSc check">A-1 / 홍길동</span>
						      </div>
						      <div class="date today">
						        <strong>10</strong>
						        <span class="iSc ing">A-1 / 홍길동</span>
						      </div>
						      <div class="date">
						        <strong>11</strong>
						        <span class="iSc plan">A-1 / 홍길동</span>
						      </div>
						      <div class="date">
						        <strong>12</strong>
						        <span class="iSc plan">A-1 / 홍길동</span>
						      </div>
						      <div class="date">
						        <strong>13</strong>
						        <span class="iSc plan">A-1 / 홍길동</span>
						      </div>
						      <div class="date">
						        <strong>14</strong>
						      </div>
						      <div class="date">
						        <strong>15</strong>
						      </div>
						      <div class="date">
						        <strong>16</strong>
						      </div>
						      <div class="date">
						        <strong>17</strong>
						      </div>
						      <div class="date">
						        <strong>18</strong>
						      </div>
						      <div class="date">
						        <strong>19</strong>
						      </div>
						      <div class="date">
						        <strong>20</strong>
						      </div>
						      <div class="date">
						        <strong>21</strong>
						      </div>
						      <div class="date">
						        <strong>22</strong>
						      </div>
						      <div class="date">
						        <strong>23</strong>
						      </div>
						      <div class="date">
						        <strong>24</strong>
						      </div>
						      <div class="date">
						        <strong>25</strong>
						      </div>
						      <div class="date">
						        <strong>26</strong>
						      </div>
						      <div class="date">
						        <strong>27</strong>
						      </div>
						      <div class="date">
						        <strong>28</strong>
						      </div>
						      <div class="date">
						        <strong>29</strong>
						      </div>
						      <div class="date">
						        <strong>30</strong>
						      </div>
						      <div class="date">
						        <strong>31</strong>
						      </div>
						      <div class="date notM">
						        <strong>01</strong>
						      </div>
						      <div class="date notM">
						        <strong>02</strong>
						      </div>
						      <div class="date notM">
						        <strong>03</strong>
						      </div>
						    </div>
								<div class="iScKind">
									<label>범례 : </lable>
									<span class="iSc plan">계획</span>
									<span class="iSc ing">작업 중</span>
									<span class="iSc check">출석</span>
									<span class="iSc unCheck">결석</span>
								</div>
			        </div>
							<!--//List -->
						</div>
						<!-- //page layout -->
					</article>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
		<script>
			$(document).ready(function(){
				popupOpen("basicBtn1","popDim","basicPop1");
				popupOpen("basicBtn2","popDim","basicPop1");
				popupOpen("basicBtn3","popDim","basicPop2");
				popupClose("basicPopClose1","popDim","basicPop1");
				popupClose("basicPopClose2","popDim","basicPop1");
				popupClose("basicPopClose3","popDim","basicPop2");
				popupClose("basicPopClose4","","basicPop2");
				popupOpen("basicPopClose4","","basicPop1");
			});
		</script>
		<!-- Data 팝업 -->
		<!-- Data 팝업 -->
		<div class="popDim" style="display:none;">
			<!-- 작업자선택 팝업 -->
			<div class="basicPop schWorkerPop" id="basicPop2">
				<button class="btnPClose" id="basicPopClose3">닫기</button>
				<div class="pBack">
					<div>
						<label>이름</label>
						<button id="basicPopClose4">클릭샘플이름</button>
						<button>강감찬</button>
						<button>홍길동</button>
						<button>이순신</button>
						<button>김철수</button>
						<button>김영희</button>
					</div>
				</div>
			</div>
			<!-- //작업자선택 팝업 -->
			<!-- 일정정보 팝업 -->
			<div class="basicPop schMgtPop" id="basicPop1">
				<h1 class="tt">일정 정보관리</h1>
				<button class="btnPClose" id="basicPopClose1">닫기</button>
				<div class="pBack">
					<div class="tws">
						<table>
							<colgroup>
								<col width="105"/>
								<col width="*"/>
							</colgroup>
							<tbody>
								<tr>
									<th>일시</th>
									<td><input type="text" class="cal" placeholder="일자 선택"  /></td>
								</tr>
								<tr>
									<th>사용자 ID</th>
									<td>
										<span class="ipBtn">
											<input type="text"/>
											<button class="btnM gray">찾기</button>
										</span>
									</td>
								</tr>
								<tr>
									<th>이름</th>
									<td><input type="text" /></td>
								</tr>
								<tr>
									<th>하우스</th>
									<td><input type="text" /></td>
								</tr>
								<tr>
									<th>구역</th>
									<td><input type="text" /></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="pBtn">
					<button class="btnM line">취소</button>
					<button class="btnM line">삭제</button>
					<button class="btnM" id="basicPopClose2">등록</button>
				</div>
			</div>
			<!-- //일정정보 팝업 -->
		</div>
		<!-- //Data 팝업 -->
	</body>
</html>
