/* content */
.change_pw_all_wrap{
    position: relative;
    width: 1280px;
    height: 800px;
    background-color: #FAFAFA;
    overflow: hidden;
}
.change_pw_title_txt{
    position: relative;
    font-family: 'NanumGothic';
    font-size: 42px;
    color: #000000;
    text-align: center;
    top: 200px;
}
.change_pw_sub_txt{
    position: relative;
    font-family: 'NanumGothic';
    font-size: 18px;
    font-weight: bold;
    color: #DFA97A;
    text-align: center;
    top: 210px;
}
.change_pw_form_wrap{
    position: relative;
    width: 442px;
    margin: auto;
    top: 230px
}
.change_pw_form_wrap legend{
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.input_pw_wrap input{
    width: 100%;
    height: 63px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #F5F5F5;
    margin-bottom: 12px;
    border-radius: 4px;
    font-family: 'NanumGothic';
    font-size: 16px;
    color: #949494;
}
.input_pw_wrap input:focus{
    color: #000000;
    border: 1px solid #F2BF89;
}
.input_repwd_wrap input{
    width: 100%;
    height: 63px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #F5F5F5;
    margin-bottom: 32px;
    border-radius: 4px;
    font-family: 'NanumGothic';
    font-size: 16px;
    color: #949494;
}
.input_repwd_wrap input:focus{
    color: #000000;
    border: 1px solid #F2BF89;
}
.input_repwd_wrap input:last-child{
    margin-bottom: 20px;
}
.change_pw_form_wrap p{
    font-family: 'NanumGothic';
    font-size: 14px;
    font-weight: bold;
    color: #444444;
    text-align: center;
    margin-bottom: 70px;
}
.input_btn_wrap button{
    width: 47.7%;
    height: 60px;
    border: 1px solid #707070;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin-right: 14px;
    font-family: 'NanumGothic';
    font-size: 22px;
    color: #000000;
}
.input_btn_wrap button:last-child{
    width: 47.7%;
    height: 60px;
    background-color: #F2BF89;
    border-radius: 4px;
    font-family: 'NanumGothic';
    font-size: 22px;
    color: #ffffff;
    margin-right: 0;
    border: none;
}

/* popup */
.change_pw_popup_wrap{
    display: none;
    z-index: 9999;
}
.change_pw_popup_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 800px;
    background-color: #000000;
    opacity: 0.7;
}
.change_pw_popup{
    position: absolute;
    width: 390px;
    height: 200px;
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 4px;
}
.change_pw_popup p{
    font-family: 'NanumGothic';
    font-size: 20px;
    font-weight: bold;
    color: #444444;
    text-align: center;
    padding-top: 55px;
}
.change_pw_popup button{
    position: absolute;
    top: 130px;
    left: 50%;
    width: 150px;
    height: 40px;
    background-color: #7689B7;
    border-radius: 4px;
    font-family: 'NanumGothic';
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    transform: translate(-50%,0);
}