.all_wrap{
    position: relative;
    width: 1280px;
    height: 800px;
    background-color: #FAFAFA;
    overflow: hidden;
}
.people_icon2{
    display: inline-block;
    width: 10px;
    vertical-align: text-top;
    margin-left: 10px;
    border-left: 1px solid #707070;;
    padding-left: 15px;
}
.people_icon2 img{
    width: 100%;
}
.btn_close{
    position: absolute;
    width: 22px;
    height: 22px;
    background: url(../images/parent_close.svg) no-repeat;
    top: 75px;
    right: 93px;
}
.activity_all_wrap{
    position: relative;
    width: 1106px;
    height: 190px;
    margin: 0 auto 10px;
    overflow: hidden;
    background-color: white;
}
.activity_all_wrap table{
    width: 100%;
    font-family: 'NanumGothic';
    text-align: center;
    border-collapse: collapse;
}
.activity_all_wrap table thead tr th{
    height: 41px;
    background-color: #F2BF89;
    border-right: 1px solid #EEA354;
    border-bottom: 1px solid #EEA354;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    color: #3B3B3B;
}
.activity_all_wrap table thead tr th:last-child{
    border-right: none;
}
.activity_all_wrap table tbody tr td{
    background-color: #FFEBD6;
    border-top: 1px solid #F2BF89;
}
.empty_th{
    width: 26px;
}
.fix_width{
    width: 210px;
}
.fix_height{
    height: 73px;
}
.txt_vertical{
    height: 73px;
    background-color: #F2BF89 !important;
    font-size: 14px;
    font-weight: bold;
    color: #3B3B3B;
    border-right: 1px solid #EEA354;
    border-bottom: 1px solid #EEA354;
    box-sizing: border-box;
}
.txt_vertical2{
    height: 73px;
    background-color: #F2BF89 !important;
    font-size: 14px;
    font-weight: bold;
    color: #3B3B3B;
    border-right: 1px solid #EEA354;
    box-sizing: border-box;
}
.book_tit_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
    padding: 8px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.book_img_wrap{
    display: inline-block;
    width: 45px;
    height: 57px;
    position: relative;
    vertical-align: middle;
    background-color: violet;
}
.book_img_wrap img{
    width: 100%;
}
.book_txt{
    display: inline-block;
    width: 120px;
    font-size: 14px;
    vertical-align: middle;
}
.book_txt2{
    display: inline-block;
    width: 120px;
    font-size: 18px;
}
.book_txt2 > span{
    display: inline-block;
    width: 9px;
    height: 15px;
    background: url(../images/parent_more.svg) no-repeat;
    vertical-align: middle;
    margin-left: 10px;
}
.bg_other{
    background-color: #FFDCB8;
}
.all_chart_wrap{
    position: relative;
    width: 1106px;
    margin: auto;
}
.chart1_wrap, .chart2_wrap, .chart3_wrap{
    display: inline-block;
    width: 365px;
    height: 324px;
    border: 1px solid #F4CBA0;
    border-top: none;
    box-sizing: border-box;
    margin-right: 1px;
}
/* 수업 지표 차트 하트로 채운 후에 채운 개수 만큼 나타남 */
.chart3_wrap{
    margin-right: -3px;
}
.chart_tit{
    width: 100%;
    height: 47px;
    background-color: #F2BF89;
    font-family: 'NanumGothic';
    font-size: 18px;
    font-weight: bold;
    color: #3B3B3B;
    text-align: center;
    line-height: 47px;
    border: 1px solid #F4CBA0;
    border-top: none;
    box-sizing: border-box;
}
#chart1, #chart2, #chart3{
    width: 363px;
    height: 277px;
}

/* 수업 지표가 하트로 보일 때 창 */
.chart3_change_wrap{
    /* display: none; */
    position: absolute;
    width: 365px;
    height: 324px;
    top: 370px;
    right: 88px;
    border: 1px solid #F4CBA0;
    border-top: none;
    box-sizing: border-box;
    background-color: white;
}
#check_heart_wrap{
    width: 100%;
    height: 277px;
    padding: 10px;
    box-sizing: border-box;
}
#check_heart_wrap p{
    height: 21px;
    font-family: 'NanumGothic';
    font-size: 15px;
    font-weight: bold;
    color: #303030;
    line-height: 24px;
    border-bottom: 1px solid #FFEFDE;
    padding: 15px 0;
}
#check_heart_wrap p:last-child{
    border-bottom: none;
}
.heart_bar{
    border-left: 2px solid #F2BF89;
    margin: 0 5px 0 30px;
}
.heart_txt{
    display: inline-block;
    width: 90px;
    margin-right: 20px;
}
.heart_off{
    display: inline-block;
    width: 24px;
    height: 21px;
    background: url(../images/heart_off.svg) no-repeat;
    vertical-align: middle;
    padding-right: 5px;
}

/* 수업 지표가 차트로 보일 때 하단 버튼 */
.btn_wrap{
    display: none;
    position: absolute;
    top: 720px;
    right: 84px;
}
.btn_wrap button{
    width: 183px;
    height: 50px;
    font-family: 'NanumGothic';
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #7689B7;
    border-radius: 4px;
}

/* 수업 지표가 하트 체크로 보일 때 하단 버튼 */
.btn_wrap2{
    /* display: none; */
    position: absolute;
    top: 720px;
    right: 84px;
}
.btn_wrap2 button{
    width: 183px;
    height: 50px;
    font-family: 'NanumGothic';
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #7689B7;
    border-radius: 4px;
    margin-right: 5px;
}
.btn_wrap2 button:last-child{
    color: #444444;
    background-color: #FFFFFF;
    border: 1px solid #707070;
    margin-right: 0;
}

/* 부모상담을 보냈습니다 팝업 */
.send_finish_popup_wrap{
    display: none;
    z-index: 9999;
}
.send_finish_popup_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 800px;
    background-color: #000000;
    opacity: 0.7;
}
.send_finish_popup{
    position: absolute;
    width: 390px;
    height: 200px;
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 4px;
}
.send_finish_popup p{
    font-family: 'NanumGothic';
    font-size: 20px;
    font-weight: bold;
    color: #444444;
    text-align: center;
    padding-top: 55px;
}
.send_finish_popup button{
    position: absolute;
    top: 130px;
    left: 50%;
    width: 150px;
    height: 40px;
    background-color: #7689B7;
    border-radius: 4px;
    font-family: 'NanumGothic';
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    transform: translate(-50%,0);
}

/* 부모상담을 보내겠습니까? 팝업 */
.send_popup_wrap{
    display: none;
    z-index: 9999;
}
.send_popup_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 800px;
    background-color: #000000;
    opacity: 0.7;
}
.send_popup{
    position: absolute;
    width: 390px;
    height: 200px;
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 4px;
}
.send_popup p{
    font-family: 'NanumGothic';
    font-size: 20px;
    font-weight: bold;
    color: #444444;
    text-align: center;
    padding-top: 55px;
}
.send_popup button{
    position: relative;
    top: 45px;
    left: 40px;
    width: 150px;
    height: 40px;
    background-color: #7689B7;
    border-radius: 4px;
    font-family: 'NanumGothic';
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    margin-right: 15px;
}
.send_popup button:last-child{
    color: #444444;
    background-color: #FFFFFF;
    border: 1px solid #707070;
    margin-right: 0;
}
.bb-text{
    display: none;
    /* 차트 점 위의 수치 값 제거 */
}
.bb-legend-item{
    display: none !important;
    /* 사용자 이름 */
}
.circle{
    position: absolute;
    background-image: url(../images/circle.png);
    top: -6px;
    left: -12px;
    width: 25px;
    height: 25px;
    background-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle > p{
    color: white;
    font-family: 'NanumGothicExtraBold';
    font-size: 12px;
}
/* 21-02-18 구정연 추가 */
.not_read{
    font-size: 14px;
    font-weight: bold;
    color: #3B3B3B;
}