.all_wrap{
    position: relative;
    width: 1280px;
    height: 800px;
    overflow: hidden;
    background-color: #fafafa;
}
.money{
    position: relative;
    width: 1116px;
    height: 47px;
    background-color: #FFEBD6;
    margin: 0 auto 24px;
    font-family: 'NanumGothicExtraBold';
    font-size: 14px;
    font-weight: 800;
    color: #444444;
    line-height: 47px;
}
.money div{
    position: relative;
    width: 90%;
    margin: auto;
}
.money div p{
    text-align: center;
}
.money_txt1{
    margin-right: 10px;
}
.money_txt2{
    margin-right: 70px;
}
.money_txt3{
    border-right: 2px solid #F2BF89;
    margin-right: 70px;
    padding-right: 70px;
}
.money_txt4{
    margin-right: 10px;
}
.money_txt5{
    margin-right: 70px;
}
.money_txt6{
    border-right: 2px solid #F2BF89;
    margin-right: 70px;
    padding-right: 70px;
}
.money_txt7{
    margin-right: 10px;
}
.money_txt8{
    margin-right: 70px;
}
.time_table_wrap{
    position: relative;
    width: 1116px;
    height: 372px;
    margin: 0 auto 22px;
    overflow-y: scroll;
}
.time_table_wrap table{
    width: 1116px;
    font-size: 13px;
    color: #444444;
    text-align: center;
    border-collapse: collapse;
}
.time_table_wrap table thead th{
    font-family: 'NanumGothic';
    font-weight: bold;
    height: 40px;
    background-color: #FEFBF9;
}
.time_table_wrap table tbody tr td{
    font-family: 'NanumGothic';
    font-weight: bold;
    color: #666666;
    height: 40px;
}
.time_table_wrap table tbody tr:nth-child(odd){
    background-color: #ffffff;
}
.time_table_wrap table tbody tr:nth-child(even){
    background-color: #FEFBF9;
}
.txt_extra{
    font-family: 'NanumGothicExtraBold' !important;
}
.txt_blue{
    color: #0E2E53 !important;
}
.border_right{
    border-right: 1px solid #FCF0E8;
}
.btn_wrap{
    position: relative;
    width: 1116px;
    left: 815px;
}
.btn_wrap button{
    width: 183px;
    height: 51px;
    background-color: #7689B7;
    font-family: 'NanumGothic';
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 4px;
}
.btn_wrap button:last-child{
    margin-left: 10px;
}