.all_wrap{
    position: relative;
    width: 1280px;
    height: 800px;
    overflow: hidden;
    background-color: #fafafa;
}
.time_table_wrap{
    position: relative;
    width: 1116px;
    height: 443px;
    margin: 0 auto 22px;
    overflow: hidden;
}
.time_table_wrap table{
    width: 1116px;
    font-family: 'NanumGothic';
    font-size: 15px;
    font-weight: bold;
    color: #444444;
    text-align: center;
    border-collapse: collapse;
}
.first_th{
    width: 186px;
}
.time_table_wrap table thead th{
    height: 46px;
    background-color: #FFEBD6;
    border: 1px solid #F2BF89;
    box-sizing: border-box;
}
.time_table_wrap table tbody tr td{
    width: 186px;
    height: 28px;
    background-color: #FFEBD6;
    border: 1px solid #F2BF89;
    box-sizing: border-box;
}
.first_td{
    background-color: #ffffff !important;
    border-right: 1px solid #FCF0E8 !important;
    border-bottom: 1px solid #FCF0E8 !important;
}
.second_td{
    background-color: #FEFBF9 !important;
    border-right: 1px solid #FCF0E8 !important;
    border-bottom: 1px solid #FCF0E8 !important;
}
.btn_wrap{
    position: relative;
    width: 1116px;
    left: 815px;
}
.btn_wrap button{
    width: 183px;
    height: 51px;
    background-color: #7689B7;
    font-family: 'NanumGothic';
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 4px;
}
.btn_wrap button:last-child{
    margin-left: 10px;
}