<div class="back">
    <div class="sideNav">
        <ul class="nav01">
            <li class="snv01">
                <span><a href="">사이트 통계</a></span>
                <ol>
                    <li><a href="">방문 통계</a></li>
                    <li><a href="">다음통계</a></li>
                </ol>
            </li>
            <li class="snv02">
                <span><a href="">회원 통계</a></span>
                <ol>
                    <li><a href="">가입/탈퇴 이력</a></li>
                    <li><a href="">회원유형 통계</a></li>
                    <li><a href="">미결제 회원 통계</a></li>
                    <li><a href="">지표관리</a></li>
                </ol>
            </li>
            <li class="snv03">
                <span><a href="">상담센터</a></span>
                <ol>
                    <li><a href="">전화상담 통계</a></li>
                    <li><a href="">1:1상담 통계</a></li>
                </ol>
            </li>
            <li class="snv04">
                <span><a href="">결제 통계</a></span>
                <ol>
                    <li><a href="">결제 통계</a></li>
                </ol>
            </li>
        </ul>
        <ul class="nav02">
            <li class="snv01">
                <span><a href="member_list.html">회원 관리</a></span>
                <ol>
                    <li><a href="member_list.html">회원조회</a></li>
                    <li><a href="support_list.html">수강생 지원</a></li>
                    <li><a href="unite_list.html">제휴회원 관리</a></li>
                </ol>
            </li>
            <li class="snv02">
                <span><a href="5_1.html">회원 로그</a></span>
                <ol>
                    <li><a href="5_1.html">로그인 이력</a></li>
                    <li><a href="5_1.html">부정로그인 이력</a></li>
                    <li><a href="5_1.html">수강 이력</a></li>
                </ol>
            </li>
            <li class="snv03">
                <span><a href="5_1.html">교수 관리</a></span>
                <ol>
                    <li><a href="5_1.html">교수 조회</a></li>
                </ol>
            </li>
        </ul>
    </div>
</div>
<div class="bottom">
    <strong><a href="">오유진</a></strong>
    <span><a href="../login.html">로그아웃</a></span>
</div>
<button class="btnSnbTobggle">snbToggle</button>
